<% @title = "PageOneX" %>
<div class="row">
  <div class="span12">
    <div class="page-header">
      <h1>PageOneX <small>Visualize the evolution of stories on newspaper front pages</small></h1>
    </div>
  </div>
</div>

<div class="row-fluid">

  <div class="span6">
     <%= image_tag "header-blog-2.png", :style => "margin-bottom:5px;" %>
       <p class="lead">PageOneX  makes it easy to track, code, and visualize major news stories based on  the proportion of newspaper front pages that they take up. <br>It's a  useful tool for researchers, advocacy groups, and anyone interested in better understanding the media's priorities.</p>
    <div class="row-fluid"> 
      <div class="span2 offset4">
         <a href="https://twitter.com/PageOneX" class="btn" data-show-count="false">@PageOneX</a>
         <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
     </div>
  </div>

  <div class="span5 offset1">
  	<% if user_signed_in? %>
		<%= link_to 'Create New Thread', '/threads/new', :class => "btn btn-success btn-large" %> 
  	<% else %>	
  		<%= link_to 'Sign in', new_user_session_path, :class => "btn btn-success btn-large" %> 
  		<%= link_to 'Sign up', new_user_registration_path, :class => "btn btn-info btn-large" %> 
  		
  	<% end %>
  	<h3>Most recent threads</h3>
  	<% if @threads != [] %>
  		<% @threads.sort{|a,b| b.created_at <=> a.created_at }.each do |thread| %>
  			    <h4><a href="<%= thread_url thread %>"><%= thread.thread_display_name %></a> 
              <small>by <%=threads_by_user_link thread.owner %></small> </h4>
  		<% end %>
  	<% else %>
    	<h2>There are no threads.</h2>
  	<% end %>
	<a class="btn btn-info btn-medium" href="/threads/">View All</a> 
  </div>

</div>

<hr>

<div class="row-fluid">
	  <div class="span3">
			<h3>Keep updated</h3>
			<a href="https://groups.google.com/forum/?fromgroups#!forum/pageonex">Join the email list for users</a><br>
			<a href="http://blog.pageonex.com/newsletter/">Subscribe to the newsletter</a><br>
			Twitter: <a href="http://twitter.com/pageonex">@PageOneX</a><br>
			<a href="https://github.com/numeroteca/pageonex/wiki">Wiki</a><br>
			<a href="http://blog.pageonex.com/">Blog</a><br>
			Contact: <a href="http://numeroteca.org/about/">form</a> or <a href="http://twitter.com/numeroteca">@numeroteca</a><br>

			<h3>For developers</h3>
			<p style="width:300px;">This is an open source tool built in Ruby on Rails. You can download and test it locally, and/or help improve the code!<br>
			<a href="https://github.com/numeroteca/pageonex">View, collaborate and download the code</a><br>
			<a href="https://github.com/numeroteca/pageonex/issues?state=open">Issue tracker</a><br>
			<a href="http://mailman.mit.edu/mailman/listinfo/pageonexdev">Email list for developers</a></p>
		</div>
		<div class="span3 offset1">
			<h3>Examples</h3>
			<a href="http://pinterest.com/numeroteca/newspaper-front-page-visualizations/" title="PageOneX in Pinterest"><img src="http://blog.pageonex.com/wp-content/uploads/2012/06/pinterest_p.png" width="" alt="PageOneX in Pinterest"></a><br>
			<a href="http://blog.pageonex.com/timeline/">Timeline of the project.</a><br>
			Slides: <a href="http://www.slideshare.net/numeroteca/pageonex-at-mrap">presentation at the MRAP</a><br>
			Galleries of examples: <a href="http://numeroteca.org/cat/frontpage-newspaper/">at numeroteca</a> and <a href="http://pinterest.com/numeroteca/newspaper-front-page-visualizations/">at Pineterest</a>
		</div>
		<div class="span4 offset1"> <!-- Temporary list of featured threads. It should pull from the most visited threads in the site -->
			<h3>Featured Threads</h3>
			<a href="/matrushka/gezi-parki-protests-in-turkish-newspapers/">Gezi parki protests in turkish newspapers</a> (Turkey)<br>
			<a href="/DeboraLeal/spring-in-brazil/ ">Violence x Protest</a> (Brazil)<br>
			<a href="/numeroteca/corrupcion-espana-agosto-2013/">Corrupción españa. Agosto 2013</a> (Spain)<br>
			<a href="/numeroteca/nsa-leaks-prism/ ">NSA leaks: PRISM</a>  (USA)<br>
			<a href="/Amelrame/analisis-paro-agrario/">Análisis Paro Agrario </a> (Colombia)<br>
			<a href="/numeroteca/local-national-world-news/">Local, national and world news in US newspapers</a> (USA)
		</div>
</div>
