<!-- displaying the error message if the user was not permitted for editing a thread -->
<% @title = "PageOneX" %>
<a href="https://github.com/numeroteca/pageonex"><img style="position: absolute; top: 35px; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>

<div class="row">
  <div class="span12">
    <div class="page-header">
      <h1>PageOneX <small>Visualize the evolution of stories on newspaper front pages</small></h1>
    </div>
  </div>
</div>

<div class="row">

  <div class="span6">
     <%= image_tag "header-blog-2.png", :style => "margin-bottom:5px;" %>
       <p class="lead">PageOneX  makes it easy to track, code, and visualize major news stories based on  the proportion of newspaper front pages that they take up. <br>It's a  useful tool for researchers, advocacy groups, and anyone interested in  better understanding the front page news.</p>
    <div class="row"> 
      <div class="span3">
        More info at <a href="http://pageonex.com" title="PageOneX">pageonex.com</a>.
      </div>
      <div class="span2 offset1">
         <a href="https://twitter.com/PageOneX" class="btn" data-show-count="false">Follow @PageOneX</a>
         <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
     </div>
  </div>

  <div class="span5 offset1">
  	<% if user_signed_in? %>
		<%= link_to 'Create New Thread', '/threads/new', :class => "btn btn-success btn-large" %> 
  	<% else %>	
  		<%= link_to 'Sign in', new_user_session_path, :class => "btn btn-success btn-large" %> 
  		<%= link_to 'Sign up', new_user_registration_path, :class => "btn btn-info btn-large" %> 
  		
  	<% end %>
  	<h3>Last threads</h3>
  	<% if @threads != [] %>
  		<% @threads.sort{|a,b| b.created_at <=> a.created_at }.each do |thread| %>
  			    <h4><a href="<%= "/#{thread.owner.username.split(' ').join('_')}/#{thread.thread_name}/" %>"><%= thread.thread_display_name %></a> <small><%= thread.owner.username %></small> </h4>
  		<% end %>
  	<% else %>
    	<h2>There are no threads.</h2>
  	<% end %>
	<a class="btn btn-info btn-medium" href="/threads/">Show Threads</a> 
  </div>

</div>
