<% @title = "#{@thread.thread_display_name.capitalize} - PageOneX" %>

<div id="fb-root"></div>
<script>
	(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=234164799951470";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<!-- thread info / actions -->
<div class="row">
	<div class="span8">
		<h2><%= @thread.thread_display_name %></h2>
	</div>
	<div class="span2">
		<div class="btn-group pull-right">
		    <button class="btn btn-small">Export</button>
		    <button class="btn btn-small dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
		    <ul class="dropdown-menu">
		      <!-- <li><a href="#">Download as  .csv </a></li>-->
		      <li><a href="<%= thread_url(@thread)+"export.ods" %>">Download Data as .ods</a></li>
		      <li><a href="<%= thread_url(@thread)+"export.json" %>">Download Data as .json</a></li>
		      <li><a href="#chart-modal" data-toggle="modal">Download Graph as  .svg </a></li>
		      <li><a href="<%= thread_url(@thread)+"export.png" %>">Download Images as .png</a></li>
		      <!--<li><a href="#">Download as  .png </a></li>
		      <li class="divider"></li>
		      <li><a href="#">Download as  .pdf </a></li>-->
		    </ul>
		</div>
	</div>
	<div class="span2">
		<% if current_user and (@thread.owner == current_user or current_user.admin) %>
		<%=  link_to "Delete", "/threads/#{@thread.thread_name}" ,:method=>"delete" , :class => "btn btn-danger delete" %>
		<a href="<%= "/threads/#{@thread.thread_name}/edit"%>" class="btn">Edit</a> 
		<% end %>
	</div>
</div>

<!-- Thread details / code info -->
<div class="row">
	<div class="span5">
		<h4>By</h4> <%=threads_by_user_link @thread.owner %>
		<h4>Description</h4><p> <%= @thread.description %></p>
	</div>
	<div class="span2">
		<h4>Topics</h4>
		  <ul class="nav nav-list">
			<% @thread.codes.each do |code| %>
			<li>
				<div id="code_<%= code.id %>" class="box_legend" style="background-color:<%= code.color %>;"> </div>
				<h4 class="codes_boxes" rel="popover"  data-content="<%= code.code_description %>" data-original-title="Description"><%= code.code_text %></h4>
			</li>
	       		<% end %>
		  </ul>
    	</div>
	<div class="span2">
		<h4>From</h4> <p><%= @thread.start_date.inspect %></p>
		<h4>To </h4> <p><%= @thread.end_date.inspect %></p>
	</div>
	<div class="span3">
		<h5>Category</h5> <span class="categories">
		      <% @thread.category_list.each do |c| %>
		        <%=link_to c,"/threads/search_by_category?q=#{c.strip}", :class => "label"%>
		      <% end %>
		</span>
		<!--<h5>Status</h5> <p><%= @thread.status %></p>-->
	</div>
	
</div> 

<!--Share buttons-->
<div class="row">
	<div class="span1">
		<a href="https://twitter.com/share" class="twitter-share-button" data-via="PageOneX" data-hashtags="PageOneX" data-dnt="true">Tweet</a>
	</div>
	<div class="span4">
		<div class="fb-like" data-send="true" data-layout="button_count" data-width="460" data-show-faces="true" data-action="recommend" data-font="verdana"></div>
	</div>
</div>

<!-- Results Chart -->
<div class="row">
  <div id="chart-modal" class="modal hide fade">
	  <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Export Chart</h3>
	  </div>
	  <div class="modal-body">
      <p>To export the chart, right click the image below and select "Save Image As..." This will download the chart in SVG format.</p>
      <img id="chart-export-img" />
	  </div>
  </div>
	<div id="chart_div" style="margin-left: 110px;width: 1210px; margin-bottom: -15px;"></div><!--div to display bar chart-->
</div>

<!-- composite image view -->
<div class="row">
	<div class="span2">
		<ul class='thread-coposite-labels'>
			<% @img_map_info['row_info'].each do |media_id,info| %>
				<li style="height:<%=info['height']%>px"><%=info['name']%></li>
			<% end %>
		</ul>
	</div>
	<div class="span10">
		<ul class="thread-composite-images" style="height:<%=@img_map_info['height']%>px">
			<li class="cover-composite"><%= image_tag @thread.path_to_composite_cover_image %></li>
		<% @thread.codes.each do |code| %>
			<li class="highlighted-area-composite"><%= image_tag @thread.path_to_composite_highlighed_area_image code.id %></li>
		<% end %>
			<li><%=image_tag 'transparent.png', :style=>"width:#{@img_map_info['width']}px;height:#{@img_map_info['height']}px;", :usemap=>'front-page-images'%></li>
		</ul>
		<map name="front-page-images">
			<% @img_map_info['images'].each_pair do |image_name, image_info| %>
				<area shape="rect" coords="<%=image_info['x1']%>,<%=image_info['y1']%>,<%=image_info['x2']%>,<%=image_info['y2']%>"
					href="<%=thread_code_url @thread, image_name%>">
			<% end %>
		</map>
	</div>
</div>

<!-- thread info summary and code info again -->
<div class="row">
	<div class="offset2 span10">
		<h3><%= @thread.thread_display_name %> </h3>
		<p><%= @thread.start_date.inspect %> - <%= @thread.end_date.inspect %></p>
		<ul class="inline">
		<% @thread.codes.each do |code| %>
		  <li rel="popover"  data-content="<%= code.code_description %>" data-original-title="Description" >
			    <div id="code_<%= code.id %>" style="background-color:<%= code.color %>;" class="box_legend"></div>
			    <div class="legend_text"> <%= code.code_text  %> </div>
		  </li>
	       	<% end %>
		</ul>
	</div>	
</div>

<!-- other library we were using for the column chart, it's comment just in case we want to reuse it again -->
<!-- "d3.min.js", "d3.layout.min.js", "rickshaw.min.js", -->
<%= javascript_include_tag "http://d3js.org/d3.v3.min.js" %>
<%= javascript_include_tag "dataviz.js" %>

<script type="text/javascript">
var thread = <%= @thread.results(:flat).to_json.html_safe %>
var height = 200;
var width = 1210;
var padding = {"top": 40, "right": 120, "bottom": 40, "left": 120 };
dataviz.drawCodedThread(width, height, padding, thread);
dataviz.exportToSvg($('#chart_div svg')[0], $('#chart-export-img')[0]);
$('.code').hover(function () {
        var title = dataviz.getTitle(this);
        var content = dataviz.getContent(this);
        $(this).popover({
                'title': title,
                'content': content,
                'html': true,
                'placement': 'top',
                'container': 'body'
        });
        $(this).popover('show');
}, function () {
        $(this).popover('hide');
});

</script>

<script type="text/javascript">
$(function (argument) {
	$(".delete").click(function (event) {
		event.preventDefault()
		if (confirm("Are you sure?")) {
			event.click()
		};
		return false
	})
})
</script>

<%= render :partial => "coding_footer" %>
