<h1>Display</h1>
<hr>

<div class="row">
	<div class="span4">
		<h3>Name</h3>
		<p>Occupy project From 17.09.201a to 31.12.2011</p>
	</div>
	<div class="span5">
		<h3>Type of coding</h3>
		<p>Code1</p>
		<p>Code2</p>
	</div>
</div>
<hr>
<div class="row"></div>
	<h3>Percentage of surface</h3>
<hr>
<div class="row">
	<div class="span1">
			<h4>ABC</h4>
	</div>
	<div id="newspaper1" class="row">
		<div class="span1">
			<%= image_tag "1.jpg", id: "photo", style: "height:120px"%>
		</div>
		<div class="span1">
			<%= image_tag "2.jpg", id: "photo", style: "height:120px"%>
		</div>
		<div class="span1">
			<%= image_tag "3.jpg", id: "photo", style: "height:120px"%>
		</div>
	</div>	

	<hr>
	<div class="span1">
		<h4>ABC</h4>
	</div>
	<div id="newspaper2" class="row">
		<div class="span1">
			<%= image_tag "2.jpg", id: "photo", style: "height:120px"%>
		</div>
		<div class="span1">
			<%= image_tag "3.jpg", id: "photo", style: "height:120px"%>
		</div>

		<div class="span1">
			<%= image_tag "1.jpg", id: "photo", style: "height:120px"%>
		</div>

		<div class="span1">
			<%= image_tag "2.jpg", id: "photo", style: "height:120px"%>
		</div>
	</div>

	<hr>
	<div class="span1">
		<h4>ABC</h4>
	</div>
	<div id="newspaper3" class="row">
		<div class="span1">
			<%= image_tag "3.jpg", id: "photo", style: "height:120px"%>
		</div>

		<div class="span1">
			<%= image_tag "1.jpg", id: "photo", style: "height:120px"%>
		</div>

		<div class="span1">
			<%= image_tag "2.jpg", id: "photo", style: "height:120px"%>
		</div>

		<div class="span1">
			<%= image_tag "1.jpg", id: "photo", style: "height:120px"%>
		</div>
	</div>
	<hr>
	<div class="span1">
		<h4>ABC</h4>
	</div>
	<div id="newspaper4" class="row">
		<div class="span">
			<%= image_tag "2.jpg", id: "photo", style: "height:120px"%>
		</div>

		<div class="span1">
			<%= image_tag "1.jpg", id: "photo", style: "height:120px"%>
		</div>

		<div class="span1">
			<%= image_tag "3.jpg", id: "photo", style: "height:120px"%>
		</div>

		<div class="span1">
			<%= image_tag "1.jpg", id: "photo", style: "height:120px"%>
		</div>
	</div>
</div>















<script type="text/javascript">
$(function (argument) {
    $(".breadcrumb li").filter("li.active").attr("class"," ");
    $("#display").attr("class", "active");

})
</script>