<% @title = "#{@thread.thread_display_name.capitalize} - PageOneX" %>

<div id="fb-root"></div>
<script>
	(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=234164799951470";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<!-- thread info / actions -->
<div class="row">
	<div class="span8">
		<h2><%= @thread.thread_display_name %></h2>
	</div>
	<div class="span2">
		<div class="btn-group pull-right">
		    <button class="btn btn-small">Export data</button>
		    <button class="btn btn-small dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
		    <ul class="dropdown-menu">
		      <!-- <li><a href="#">Download as  .svg </a></li>
		      <li><a href="#">Download as  .csv </a></li>-->
		      <li><a href="<%= "/#{@thread.owner.username.split(' ').join('_')}/#{@thread.thread_name}/export.ods" %>">Download as .ods</a></li>
		      <li><a href="<%= "/#{@thread.owner.username.split(' ').join('_')}/#{@thread.thread_name}/export.json" %>">Download as .json</a></li>
		      <!-- <li><a href="#">Download as  .png </a></li>
		      <li class="divider"></li>
		      <li><a href="#">Download as  .pdf </a></li>-->
		    </ul>
		</div>
	</div>
	<div class="span2">
		<% if @thread.owner == current_user %>
		<%=  link_to "Delete", "/threads/#{@thread.thread_name}" ,:method=>"delete" , :class => "btn btn-danger delete" %>
		<a href="<%= "/threads/#{@thread.thread_name}/edit"%>" class="btn">Edit</a> 
		<% end %>
	</div>
</div>

<!-- Thread details / code info -->
<div class="row">
	<div class="span5">
		<h4>By</h4> <%=link_to @thread.owner.username, '/threads/by/'+@thread.owner.username %>
		<h4>Description</h4><p> <%= @thread.description %></p>
	</div>
	<div class="span2">
		<h4>Topics</h4>
		  <ul class="nav nav-list">
			<% @thread.codes.each do |code| %>
			<li>
				<div id="code_<%= code.id %>" class="box_legend" style="background-color:<%= code.color %>;"> </div>
				<h4 class="codes_boxes" rel="popover"  data-content="<%= code.code_description %>" data-original-title="Description"><%= code.code_text %></h4>
			</li>
	       		<% end %>
		  </ul>
    	</div>
	<div class="span2">
		<h4>From</h4> <p><%= @thread.start_date.inspect %></p>
		<h4>To </h4> <p><%= @thread.end_date.inspect %></p>
	</div>
	<div class="span3">
		<h5>Category</h5> <span class="label">
		      <% @thread.category_list.each do |c| %>
		        <%=link_to c,"/threads/search_by_category?q=#{c.strip}"%>
		      <% end %>
		</span>
		<!--<h5>Status</h5> <p><%= @thread.status %></p>-->
	</div>
	
</div> 

<!--Share buttons-->
<div class="row">
	<div class="span1">
		<a href="https://twitter.com/share" class="twitter-share-button" data-via="PageOneX" data-hashtags="PageOneX" data-dnt="true">Tweet</a>
	</div>
	<div class="span4">
		<div class="fb-like" data-send="true" data-layout="button_count" data-width="460" data-show-faces="true" data-action="recommend" data-font="verdana"></div>
	</div>
</div>

<!-- Results Chart -->
<div class="row">
        <a href="#chart-modal" role="button" class="btn pull-right" data-toggle="modal">Export chart</a>
        <div id="chart-modal" class="modal hide fade">
                <form method="post" action="/export_chart">
                <input type="hidden" name="format" value="svg"/>
                <input id="svgdata" type="hidden" name="svgdata" value=""/>
                <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3>Export Chart</h3>
                </div>
                <div class="modal-body">
                        <div>
                                <select name="format">
                                        <option value="svg">SVG</option>
                                </select>
                        </div>
                        <div>
                                <button type="submit" class="btn btn-primary">Export</button>
                        </div>
                </div>
                </form>
        </div>
	<div id="chart_div" style="margin-left: 110px;width: 1210px; margin-bottom: -15px;"></div><!--div to display bar chart-->
</div>

<!-- Non displaying ratio and date info -->
<% @ratios.each do |v,r|  %>
	<% hidden_field_tag "v#{v}", r %>
<% end %>
<%= hidden_field_tag "number_of_column", @ratios.length %>
<%= hidden_field_tag "number_of_rows", @thread.media.length %>
<div id="ratios">
	<!-- for each column we create a div contains set of hidden fields each on represent a code percentage -->
	<% @results[:dates].each_with_index do |date, index| %>
		<div id="<%= "row_c#{index + 1}" %>">
				<% @results[:codes].each_with_index do |code, index| %>
					<%= hidden_field_tag "code_#{index}", @results[:data][date]['Total'][code] %>
				<% end %>
		</div>
	<% end %>
</div>
<div id="date-box">
	<% (@thread.start_date..@thread.end_date).each do |d| %>
		<%= hidden_field_tag "#{d.day}/#{d.month}" %>
	<% end %>
</div>

<!-- show the coding info on top of the front page images-->
<div id="datavis" style="display: none;">
	<!-- loop over all the newspaper in the thread and find which images are belongs to this newspaper and then insert this images into this newspaper row -->
	<% @thread.media.each do |m| %>
		<div class="row images" >
			<div class="span2" style="/*width: 195px;*/">
				<div class="" style="overflow: overlay; margin-right: -23px ;text-align: right;">
  					<h2 style="font-size: 12px;"><%= link_to m.display_name, m.url, class: 'custom-link' %></h2>
				</div>
			</div>
			<div class="img_box span10" >
				<% @thread.images.each_with_index do |image, ic| %>
					<% if @images[ic].media == m  %>  <!-- only displays images from that particular media-->
						<div id="<%= "image_box#{ic+1}" %>" style="margin-bottom: 4px" class="span1 <%= "thum_image#{ic+1}" %>" image_name="<%= image.image_name %>">
						<a href='<%= "/#{@thread.owner.username.split(' ').join('_')}/#{@thread.thread_name}/coding/?i=#{image.image_name}" %>' title="">
							<!-- display images stored locally -->
							<% if use_local_images %>
								<% if @thread.image_coded? @images[ic] %> 
									<%= image_tag @thread.images[ic].local_path, id: "image#{ic+1}", image_size: @images[ic].size, name: @images[ic].image_name, class: "thumb-img-coded"  %>
								<% else %> 
									<%= image_tag @thread.images[ic].local_path, id: "image#{ic+1}", image_size: @images[ic].size, name: @images[ic].image_name, class: "thumb-img-no-coded" %>
								<% end %>
							<% else %>
							<!-- display live version form kiosko, just for the online beta version on heroku -->
							<% if @images[ic].source_url == "404.jpg" %>
								<img src="/assets/404.jpg" alt="" id="<%= "image#{ic+1}" %>" class="thumb-img" image_size="<%= @images[ic].size %>" />
							<% else %>
								<% if @thread.image_coded? @images[ic] %> 
									<img src="<%= @images[ic].source_url %>" alt="" id="<%= "image#{ic+1}" %>" class="thumb-img-coded" image_size="<%= @images[ic].size %>" name="<%= @images[ic].image_name %>" />
								<% else %> 
									<img src="<%= @images[ic].source_url %>" alt="" id="<%= "image#{ic+1}" %>" class="thumb-img-no-coded" image_size="<%= @images[ic].size %>" name="<%= @images[ic].image_name %>" />
								<% end %>
							<% end %>
							<!-- end -->
							<% end %>
						</a>
						<% @thread.highlighted_areas_for_image(image).each do |ha| %>
							<div id="<%= "ha_#{ha.id}" %>" style="position: absolute; overflow: hidden; z-index: 0; left: 0px; top: 0px; width: 0px; height: 0px; display: block; opacity: 0.7;" class="highlighted_area"></div>
						<% end %>
						</div>
					<% end %>
				<% end %>
			</div>
		</div>
		
	<% end %>
</div>

<!-- loading info -->
<h2 id="loading-bar-h">Please wait</h2>
<div id="loading-bar" class="progress progress-striped active">
		<div class="bar" style="width:1%;"></div>
</div>

<!-- lots of hidden info about the highlighted images -->
<div id="high_images">
    <% @thread.images.each do |image| %>
	<div class="ha_group" id="ha_group_<%= image.image_name %>">
	    <% @thread.highlighted_areas_for_image(image).each_with_index do |ha, index| %>
		<div id="<%= "#{image.image_name}_#{index}" %>">
		    <%= hidden_field_tag "ha_name[]", "#{image.image_name}_#{index}" %>
		    <%= hidden_field_tag "img_id_#{image.image_name}_#{index}", "#{image.image_name}" %>
		    <%= hidden_field_tag "id_#{image.image_name}_#{index}", "#{ha.id}" %>
		    <%= hidden_field_tag "code_id_#{image.image_name}_#{index}", "#{ha.code_id}" %>
		    <%= hidden_field_tag "x1_#{image.image_name}_#{index}", "#{ha.areas.first.x1}" %>
		    <%= hidden_field_tag "y1_#{image.image_name}_#{index}", "#{ha.areas.first.y1}" %>
		    <%= hidden_field_tag "x2_#{image.image_name}_#{index}", "#{ha.areas.first.x2}" %>
		    <%= hidden_field_tag "y2_#{image.image_name}_#{index}", "#{ha.areas.first.y2}" %>
		    <%= hidden_field_tag "width_#{image.image_name}_#{index}", "#{ha.areas.first.width}" %>
		    <%= hidden_field_tag "height_#{image.image_name}_#{index}", "#{ha.areas.first.height}" %>
		    <%= hidden_field_tag "img_width_#{image.image_name}_#{index}", "#{image.width}" %>
		    <%= hidden_field_tag "img_height_#{image.image_name}_#{index}", "#{image.height}" %>
		    <%= hidden_field_tag "deleted_#{image.image_name}_#{index}" %>
		</div>
	    <% end %>
	</div>
    <% end %>
    <%= hidden_field_tag "status", "0" %>
</div>

<!-- other library we were using for the column chart, it's comment just in case we want to reuse it again -->
<!-- "d3.min.js", "d3.layout.min.js", "rickshaw.min.js", -->
<%= javascript_include_tag "http://d3js.org/d3.v3.min.js" %>
<%= javascript_include_tag "highlighted_area.js" %>
<%= javascript_include_tag "display.js" %>
<%= javascript_include_tag "dataviz.js" %>

<!-- thread info summary and code info again -->
<div class="row">
	<div class="offset2 span8">
		<h3><%= @thread.thread_display_name %> </h3>
		<p><%= @thread.start_date.inspect %> - <%= @thread.end_date.inspect %></p>
		<ul class="inline">
		<% @thread.codes.each do |code| %>
		  <li rel="popover"  data-content="<%= code.code_description %>" data-original-title="Description" >
			    <div id="code_<%= code.id %>" style="background-color:<%= code.color %>;" class="box_legend"></div>
			    <div class="legend_text"> <%= code.code_text  %> </div>
		  </li>
	       	<% end %>
		</ul>
	</div>	
</div>
<script type="text/javascript">
var thread = <%= @thread.results(:flat).to_json.html_safe %>
var height = 200;
var width = 1210;
var padding = {"top": 40, "right": 120, "bottom": 40, "left": 120 };
dataviz.drawCodedThread(width, height, padding, thread);
$('#svgdata').val(dataviz.getSvg(width, height));
$('.code').hover(function () {
        var title = dataviz.getTitle(this);
        var content = dataviz.getContent(this);
        $(this).popover({
                'title': title,
                'content': content,
                'html': true,
                'placement': 'top',
                'container': 'body'
        });
        $(this).popover('show');
}, function () {
        $(this).popover('hide');
});

</script>

<script type="text/javascript">
$(function (argument) {
    $(".breadcrumb li").filter("li.active").attr("class"," ");
    $("#disp").css("font-weight","bold")
    $("#disp").css("color","#fff")
    $("#disp").attr("class", "btn btn-info");

	$(".delete").click(function (event) {
		event.preventDefault()
		if (confirm("Are you sure?")) {
			event.click()
		};
		return false
	})
})
</script>

<%= render :partial => "coding_footer" %>
