<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=234164799951470";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


<% @title = "PageOneX - Thread: #{@thread.thread_display_name.capitalize}" %>
<h1>Display: <%= @thread.thread_display_name.capitalize %> </h1>
<h3>Create by: <%= @thread.owner.username %></h3>

<% if @thread.owner == current_user %>
	<!-- <a class="btn btn-mini btn-danger" href="">Delete this thread</a> -->
	<%= link_to "Delete", "/threads/#{@thread.thread_name}" ,:method=>"delete" , :class => "btn btn-danger btn-mini delete" %>
	<br>
	<a href="<%= "/threads/#{@thread.thread_name}/edit"%>" class="btn  btn-mini" style="margin-top: 4px;">Edit</a> 
<% end %>

<div class="btn-group pull-right" style="margin-top: -36px;">
    <button class="btn btn-large" disabled="disabled">Export to image</button>
    <button class="btn btn-large dropdown-toggle" disabled="disabled" data-toggle="dropdown"><span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">Download as [.svg]</a></li>
      <li><a href="#">Download as [.csv]</a></li>
      <li><a href="#">Download as [.ods]</a></li>
      <li><a href="#">Download as [.png]</a></li>
      <li class="divider"></li>
      <li><a href="#">Download as [.pdf]</a></li>
    </ul>
</div>

<hr>

<div class="row">
	<div class="span2">
		<h3>Name:</h3> <p><%= @thread.thread_display_name %></p>
		<h3>Description:</h3><p> <%= @thread.description %></p>
		<h3>Category:</h3> <p><%= @thread.category %></p>
		<h3>Status:</h3> <p><%= @thread.status %></p>
	</div>
	<div class="span2">
		<p><h3>From:</h3> <%= @thread.start_date.inspect %></p>
		<p><h3>To:</h3> <%= @thread.end_date.inspect %></p>
	</div>
	<div class="span2">
		<h3>Topics coded:</h3>
			<% @thread.codes.each do |code| %>
        		<!-- <div id="code-<%= code.id %>" style="background-color:<%= code.color %>; margin-left: 7px; float: left;color:black" class="codes"></div> -->
        		<h3 class="codes_boxes" style="display: inline;cursor: no-drop;" rel="popover"  data-content="<%= code.code_description %>" data-original-title="Description">
                    <span id="code_<%= code.id %>" style="background-color:<%= code.color %>;color: <%= code.color %>">CL</span>
                    <span><%= code.code_text.split("_").join(" ") %></span>
                </h3> 
                <br>
       <% end %>
    </div>
</div> 
<br>
<h3>Share:</h3>
<div class="row">


	<div class="span2">
		<a href="https://twitter.com/share" class="twitter-share-button" data-via="PageOneX" data-hashtags="PageOneX" data-dnt="true">Tweet</a>
	</div>

	<div class="span4" style="margin-left: -71px;">
		<div class="fb-like" data-send="true" data-layout="button_count" data-width="460" data-show-faces="true" data-action="recommend" data-font="verdana"></div>
	</div>

</div>
<hr>

	<div class="row">
		<div class="span3" style="width: 195px; ">
			<!-- <h2>Surfaces percentage:</h2> -->
		</div>
		<div class="span6" style="/*width: 644px;*/">
			<!-- <div id="chart" style="margin-left: 218px;"></div> -->
			<div id="chart_div" style="margin-left: 82px;width: 1210px; margin-bottom: -30px;"></div>
		</div>
	</div>

	<!-- <div id="ratios"> -->
		<% @ratios.each do |v,r|  %>
			<% hidden_field_tag "v#{v}", r %>
		<% end %>
	<!-- </div> -->
	<%= hidden_field_tag "number_of_column", @ratios.length %>
	<%= hidden_field_tag "number_of_rows", @thread.media.length %>


	<div id="ratios">
		<% @codes_high_areas.each do |column, codes| %>
			<div id="<%= "row_#{column}" %>">
					<% codes.each do |code_id,value| %>
						<%= hidden_field_tag "#{code_id}", value %>
					<% end %>
				
			</div>
		<% end %>
	</div>

	<br>

	<div id="date-box">
		<% (@thread.start_date..@thread.end_date).each do |d| %>
			<%= hidden_field_tag "#{d.day}/#{d.month}" %>
		<% end %>
	</div>
<div id="datavis" style="display: none;">
	<!-- loop over all the newspaper in the thread and find which images are belongs to this newspaper and then insert this images into this newspaper row -->
	<% @thread.media.each do |m| %>
		<div class="row images" >
			<div class="span2" style="/*width: 195px;*/">
				<div class="" style="overflow: overlay; margin-right: -23px ;text-align: right;">
  					<h2 style="font-size: 12px;"><%= m.display_name %></h2>
				</div>
			</div>
			<div class="img_box span10" >
				<% images_counter = @thread.images.length %>
				<% 0.upto(images_counter-1) do |ic| %>
					<% if @images[ic].media == m  %>
						<div id="<%= "image_box#{ic+1}" %>" style="margin-bottom: 4px" class="span1 <%= "thum_image#{ic+1}" %>" image_name="<%= @images[ic].image_name %>">

			          		<a href='<%= "/users/#{@thread.owner.username.split(' ').join('_')}/threads/#{@thread.thread_name}/coding/?i=#{@images[ic].image_name}" %>' title="">
				          		
				          		<% #image_tag "/assets#{@thread.images[ic].local_path}", id: "image#{ic+1}", style: " opacity: 0.8;", image_size: @images[ic].size%>
									
								<!-- display live version form kiosko, just for the online beta version on heroku -->
								<% if @images[ic].local_path == "404.jpg" %>
									<img src="/assets/404.jpg" alt="" id="<%= "image#{ic+1}" %>" style=" opacity: 0.7;" image_size="<%= @images[ic].size %>" />
				         		<% else %>
				         			<% ha = HighlightedArea.where(:threadx_id=>@thread.id, :image_id=>@images[ic].id)[0] %>
				         			<% if ha.code != nil %>
					         			<img src="<%= @images[ic].local_path %>" alt="" id="<%= "image#{ic+1}" %>" class="thum-img" style=" opacity: 0.4;" image_size="<%= @images[ic].size %>" name="<%= @images[ic].image_name %>" />
				         			<% else %>
				         				<img src="<%= @images[ic].local_path %>" alt="" id="<%= "image#{ic+1}" %>" class="thum-img" style=" opacity: 0.8;" image_size="<%= @images[ic].size %>" name="<%= @images[ic].image_name %>" />
				         			<% end %>
								<% end %>
								<!-- end -->

						        <div id="high_area1" style="position: absolute; overflow: hidden; z-index: 0; left: 0px; top: 0px; width: 0px; height: 0px; display: block; opacity: 0.7;" class=""></div>

						        <div id="high_area2" style="position: absolute; overflow: hidden; z-index: 0; left: 0px; top: 0px; width: 0px; height: 0px; display: block; opacity: 0.7;" class=""></div>
			          		</a>

						</div>
					<% end %>
				
				<% end %>
			</div>
		</div>
		
	<% end %>
</div>

<h2 id="loading-bar-h">Please wait</h2>
<div id="loading-bar" class="progress progress-striped active">

		<div class="bar" style="width:1%;"></div>
</div>

	<div id="high_areas">
		<% @highlighted_areas.each do |ha| %>
		<% image_number = ha.name.split('_')[0].slice(5,ha.name.split('_')[0].length) %>
	    <div id="image<%= image_number %>">
	        <%= hidden_field_tag ha.name,"1" %>
	        <% if ha.code != nil %>
              	<%= hidden_field_tag "#{ha.name}_code_id", "#{ha.code.id}" %>
          	<% else %>
            	<%= hidden_field_tag "#{ha.name}_code_id", "#{ha.code_id}" %>
            <% end %>

            <%= hidden_field_tag "#{ha.name}_image_name", ha.image.image_name %>

	        <%= hidden_field_tag "#{ha.name}_x1", ha.areas[0].x1 %>
	        <%= hidden_field_tag "#{ha.name}_y1",ha.areas[0].y1 %>
	        <%= hidden_field_tag "#{ha.name}_x2",ha.areas[0].x2 %>
	        <%= hidden_field_tag "#{ha.name}_y2",ha.areas[0].y2 %>
	        <%= hidden_field_tag "#{ha.name}_width", ha.areas[0].width%>
	        <%= hidden_field_tag "#{ha.name}_height", ha.areas[0].height%>
	    </div>
	  <% end %>
  </div>

<!-- "d3.min.js", "d3.layout.min.js", "rickshaw.min.js", -->
<%= javascript_include_tag "display.js" %>

<script>

	// var data = [ { x: 0, y: 40 }, { x: 1, y: 49 }, { x: 2, y: 17 }, { x: 3, y: 42 } ];

	// var number_of_images = parseInt($("#number_of_column").attr("value"))
	// var data = []
	// var column_value = 0
	// for (var i = 1; i <= number_of_images; i++) {
	// 	column_value = parseInt($("#ratios #v"+i).attr("value"))
	// 	data.push({
	// 		x: i,
	// 		y: column_value
	// 	})
	// };

	// // var row_width = $("div.images").width() - 225;	
	// var row_width = $(".img_box").width()

	// var graph = new Rickshaw.Graph( {
	//     element: document.querySelector("#chart"),
	// 	renderer: 'bar',
	//     //width: 640,
	//     width: row_width,
	//     height: 90,
	//     series: [ {
	//             color: $(".codes").css("background-color"),
	//             data: data
	//     } ]
	// } );

	// graph.render();


</script>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  	// $("#chart_div").css("width",$(".img_box").width())
	google.load("visualization", "1", {packages:["corechart"]});
	google.setOnLoadCallback(drawChart);
	
	var number_of_images = parseInt($("#number_of_column").attr("value"))
	var number_of_codes = $(".codes_boxes").children().length/2

	var columns_data = [['Dates']]
	for (var i = 0; i < number_of_codes; i++) {
		columns_data[0].push($($($(".codes_boxes")[i]).children()[1]).text())
	};
	// var column_value = 0
	var dates = $("#date-box input")
	var column_values = []
	var column_codes = []

	for (var i = 1; i <= number_of_images; i++) {
		// column_value = parseInt($("#ratios #v"+i).attr("value"))
		column_values = [ dates[i-1].name]
		column_codes = $("#row_c"+i).children()

		for (var z = 0; z < number_of_codes; z++) {
			column_values.push(parseFloat($(column_codes[z]).attr("value")))
		};
		columns_data.push(column_values)
		
		column_values = []
		column_codes = []
	};

	var codes = $(".codes_boxes span")
	var codes_colors = []
	for (var i = 0; i < codes.length; i+=2) {
		codes_colors.push($(codes[i]).css("background-color"))
	};
	
	function drawChart() {
		var data = google.visualization.arrayToDataTable(columns_data);

		var options = {
		  hAxis: { textPosition: 'out',	textStyle: { fontSize: 9} },
		  vAxis: {title: 'Surfaces percentage', titleTextStyle: {color: '#FF0000'}, format:'#,##%', gridlines: {count: 1}}, 
		  bar:{groupWidth:'51%'}, 
		  legend:{position: 'none'}, 
		  colors: codes_colors,
		};
		  
		var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));	
		// to be used after adding twitter
		// var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));	
		
		chart.draw(data, options);
	}
</script>


<script type="text/javascript">
$(function (argument) {
    $(".breadcrumb li").filter("li.active").attr("class"," ");
    // $("#display").attr("class", "active");
    $("#disp").css("font-weight","bold")
    $("#disp").css("color","#fff")
    $("#disp").attr("class", "btn btn-info");

	$(".delete").click(function (event) {
		event.preventDefault()
		if (confirm("Are you sure?")) {
			event.click()
		};
		return false
	})
})
</script>

<style type="text/css">
.span1{
	/*margin-right: 20px;*/
	/*margin-left:  0;*/
	margin-left: 0;
}
</style>

