<h1>Display: <%= @thread.thread_display_name.capitalize %></h1>
<div class="btn-group pull-right" style="margin-top: -36px;">
    <button class="btn btn-large">Export to image</button>
    <button class="btn btn-large dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">Download as [.svg]</a></li>
      <li><a href="#">Download as [.csv]</a></li>
      <li><a href="#">Download as [.ods]</a></li>
      <li><a href="#">Download as [.png]</a></li>
      <li class="divider"></li>
      <li><a href="#">Download as [.pdf]</a></li>
    </ul>
</div>
<hr>

<div class="row">
	<div class="span4">
		<h3>Name:</h3> <p><%= @thread.thread_display_name %></p>
		<h3>Description:</h3><p> <%= @thread.description %></p>
		<h3>Category:</h3> <p><%= @thread.category %></p>
		<h3>Status:</h3> <p><%= @thread.status %></p>
		
		<p><h4>From:</h4> <%= @thread.start_date.inspect %></p>
		<p><h4>To:</h4> <%= @thread.end_date.inspect %></p>
		
		
	</div>
	<div class="span5">
		<h3>Topics coded</h3>
			<% @thread.codes.each do |code| %>
        <div id="code-<%= code.id %>" style="background-color:<%= code.color %>; margin-left: 7px; float: left;color:black" class="alert alert-info">
            <p ><h4><%= code.code_text %></h4>
                <br>
                <%= code.code_description %>
            </p>
        </div>
       <% end %>
	</div>
</div> 
<hr>

<div class="row">
	<div class="span3" style="width: 195px; ">
		<h2>Surfaces percentage:</h2>
	</div>
	<div class="span6" style="width: 644px;">
		<div id="chart" style="margin-left:-56px"></div>
	</div>
</div>

<div class="row">
	<div class="span3" style="width: 195px;">
		<h2>Dates:</h2>
	</div>
	
</div>

<hr>
	
	<%= hidden_field_tag "v1", @ratios[0][:y] %>
	<%= hidden_field_tag "v2", @ratios[1][:y] %>
	<%= hidden_field_tag "v3", @ratios[2][:y] %>
	<%= hidden_field_tag "v4", @ratios[3][:y] %>

	<%= hidden_field_tag "number_of_rows", @thread.media.length %>
	<div class="row">
		<div class="span3" style="width: 195px; ">
			<h2>Newspapers:</h2>
		</div>

	</div>
	<hr>
	<% @thread.media.each do |m| %>
		<div class="row images">
			<div class="span3" style="width: 195px;">
				<div class="" style="overflow: overlay; margin-right: 35px;font-size: 14px;">
  				<h2 style="font-size: 14px;"><%= m.display_name %></h2>
				</div>
			</div>
			<% images_counter = @thread.images.length %>
			<% 0.upto(images_counter-1) do |ic| %>
				<% if @thread.images[ic].media == m  %>
					<div id="<%= "image_box#{ic+1}" %>" style="margin-bottom: 9px" class="span1 <%= "thum_image#{ic+1}" %>">
	          <a href=<%= "/threads/#{@thread.thread_name}/coding/?i=image#{ic+1}" %> title="">
	          <%= image_tag "/assets#{@thread.images[ic].local_path}", id: "image#{ic+1}", style: " opacity: 0.8;"%>
	          <div id="high_area1" style="position: absolute; overflow: hidden; z-index: 0; left: 0px; top: 0px; width: 0px; height: 0px; display: block; opacity: 0.7;" class="imgareaselect-outer"></div>

	          <div id="high_area2" style="position: absolute; overflow: hidden; z-index: 0; left: 0px; top: 0px; width: 0px; height: 0px; display: block; opacity: 0.7;" class="imgareaselect-outer"></div>
	          </a>

					</div>
				<% end %>
			
			<% end %>
		</div>
			
	<% end %>

	<div id="high_areas">
		<% @highlighted_areas.each do |ha| %>
		<% image_number = ha.name.split('_')[0].slice(5,ha.name.split('_')[0].length) %>
	    <div id="image<%= image_number %>">
	        <%= hidden_field_tag ha.name,"1" %>
	        <% if ha.code != nil %>
              <%= hidden_field_tag "#{ha.name}_code_id", "#{ha.code.id}" %>
          <% else %>
              <%= hidden_field_tag "#{ha.name}_code_id", "#{ha.code}" %>
          <% end %>
	        <%= hidden_field_tag "#{ha.name}_x1", ha.areas[0].x1 %>
	        <%= hidden_field_tag "#{ha.name}_y1",ha.areas[0].y1 %>
	        <%= hidden_field_tag "#{ha.name}_x2",ha.areas[0].x2 %>
	        <%= hidden_field_tag "#{ha.name}_y2",ha.areas[0].y2 %>
	        <%= hidden_field_tag "#{ha.name}_width", ha.areas[0].width%>
	        <%= hidden_field_tag "#{ha.name}_height", ha.areas[0].height%>
	    </div>
	  <% end %>
  </div>


<%= javascript_include_tag "d3.min.js", "d3.layout.min.js", "rickshaw.min.js" %>
<link rel="alternate" href="https://github.com/douglascrockford/JSON-js/blob/master/json2.js">
<script>

// var data = [ { x: 0, y: 40 }, { x: 1, y: 49 }, { x: 2, y: 17 }, { x: 3, y: 42 } ];
// var data = [ { x: 0, y: parseInt($("#v1").attr("value")) }, { x: 1, y: parseInt($("#v2").attr("value")) }, { x: 2, y: parseInt($("#v3").attr("value")) }, { x: 3, y: parseInt($("#v4").attr("value")) }, { x: 4, y: 17 }, { x:5, y: 42 } ];
images = $(".images img")

number_of_images = images.length/parseInt($("#number_of_rows").attr("value"))
var data = []

for (var i = 0; i < number_of_images; i++) {
	data.push({
		x: i,
		y: i*10+10
	})
};

row_width = $("div.images").width() - 225;	

var graph = new Rickshaw.Graph( {
    element: document.querySelector("#chart"),
		renderer: 'bar',
    //width: 640,
    width: row_width,
    height: 460,
    series: [ {
            color: '#ddd',
            data: data
    } ]
} );


graph.render();

</script>

<script type="text/javascript">
$(function () {
	
	var images = $(".images img")
	var image_box = $(".images .span1")
	var number_of_images = images.length/parseInt($("#number_of_rows").attr("value"))
	var row_width = $("div.images").width() - 225;	

	for (var i = 0; i < images.length; i++) {
		var curr_img = $(images[i])
		var curr_img_box = $(image_box[i])
		var original_img_width = 670
		var original_img_height = 1049
		var image_down_size_ration = Math.ceil(original_img_width / (row_width/number_of_images))
		curr_img.width(row_width/number_of_images - 9)

		curr_img.height(Math.ceil(original_img_height/image_down_size_ration))

		curr_img_box.css("width",row_width/number_of_images)

	};

	$(document).on("load",loadImagesHighlightedAreas());

	function loadImagesHighlightedAreas () {

		high_areas = $("#high_areas div")
		for (var i = high_areas.length -1; i >= 0; i--) {
				var c_high_area_id = $(high_areas[i]).attr("id").substr(5)
				var high_area1 = $("div.images").find("div.thum_image"+c_high_area_id).find("div#high_area"+1)
				var high_area2 = $("div.images").find("div.thum_image"+c_high_area_id).find("div#high_area"+2)
				var c_image = $("img#image"+c_high_area_id)

				var original_img_size = 670
				var ratio = original_img_size/c_image.width()
				
				// higlighted area 1

				var curr_high_area_code = $("#image"+c_high_area_id+"_ha1"+"_code_id").attr("value")
				high_area1.css("background-color", $("#code-"+curr_high_area_code).css("background-color"))

				var _top = parseFloat($("#image"+c_high_area_id+"_ha"+"1"+"_y1").attr("value")) / ratio

				_top = _top + c_image.position().top

				high_area1.css("top", Math.ceil(_top) + "px" )

				var _left = parseFloat($("#image"+c_high_area_id+"_ha"+"1"+"_x1").attr("value")) / ratio
				_left = _left + c_image.position().left
				high_area1.css("left", Math.ceil(_left) + "px")

				var _width = parseFloat($("#image"+c_high_area_id+"_ha"+"1"+"_width").attr("value")) / ratio
				high_area1.css("width", _width + "px")

				var _height = parseFloat($("#image"+c_high_area_id+"_ha"+"1"+"_height").attr("value")) / ratio
				high_area1.css("height", _height + "px")


				// higlighted area 2
				
				var curr_high_area_code = $("#image"+c_high_area_id+"_ha2"+"_code_id").attr("value")
				high_area2.css("background-color", $("#code-"+curr_high_area_code).css("background-color"))	

				_top = parseFloat($("#image"+c_high_area_id+"_ha"+"2"+"_y1").attr("value")) / ratio
				_top = _top + c_image.position().top
				high_area2.css("top", _top + "px" )

				_left = parseFloat($("#image"+c_high_area_id+"_ha"+"2"+"_x1").attr("value")) / ratio
				_left = _left + c_image.position().left
				high_area2.css("left", _left + "px")

				_width = parseFloat($("#image"+c_high_area_id+"_ha"+"2"+"_width").attr("value")) / ratio
				high_area2.css("width", _width + "px")

				_height = parseFloat($("#image"+c_high_area_id+"_ha"+"2"+"_height").attr("value")) / ratio
				high_area2.css("height", _height + "px")

		};

	}

	
	$(window).resize(function() {
	 	loadImagesHighlightedAreas();
	});


})

	console.log($("#image4").height())

</script>




<script type="text/javascript">
$(function (argument) {
    $(".breadcrumb li").filter("li.active").attr("class"," ");
    $("#display").attr("class", "active");
})
</script>

<style type="text/css">
.span1{
	/*margin-right: 20px;*/
	/*margin-left:  0;*/
	margin-left: 0;
}
</style>

