<h1>Display: <%= @thread.thread_display_name.capitalize %></h1>
<hr>

<div class="row">
	<div class="span4">
		<h3>Name:</h3> <p><%= @thread.thread_display_name %></p>
		<h3>Description:</h3><p> <%= @thread.description %></p>
		<h3>Category:</h3> <p><%= @thread.category %></p>
		<h3>Status:</h3> <p><%= @thread.status %></p>
		
		<p><h4>From:</h4> <%= @thread.start_date.inspect %></p>
		<p><h4>To:</h4> <%= @thread.end_date.inspect %></p>
		
		
	</div>
	<div class="span5">
		<h3>Topics coded</h3>
			<% @thread.codes.each do |code| %>
        <div id="code-<%= code.id %>" style="background-color:<%= code.color %>; margin-left: 7px; float: left;color:black" class="alert alert-info">
            <p ><h4><%= code.code_text %></h4>
                <br>
                <%= code.code_description %>
            </p>
        </div>
       <% end %>
	</div>
</div> 
<hr>
<div class="row"></div>
	<!--<h3>Percentage of surface</h3> That will be when we have the bar chart-->
	<h3>Surface in Newspapers front pages</h3>
	<p>Export to svg, csv, ods, png, pdf</p>
<hr>

<div class="row">
	<div class="span3">
		<h2>Newspapers:</h2>
	</div>
	
</div>

<hr>


	<% @thread.media.each do |m| %>
		<div class="row">
			<div class="span3">
				<div class="alert alert-info">
  				<h2><%= m.display_name %></h2>
				</div>
			</div>
		</div>
		<div class="row images">
			<%= hidden_field_tag "images_counter", @thread.images.length %>
			<% m.images.each do |i| %>
				
					<% if @thread.images.include? i %>

						<% highlighed_area = HighlightedArea.find_by_image_id(i) #@highlighted_areas.include? HighlightedArea.find_by_image_id(i) %>
						
						<% if(highlighed_area != nil) %>
							<div class="span3 <%= "thum_image#{i.id}" %>">
								<%= image_tag "/assets#{i.local_path}", id: "image#{i.id}", style: "height:320px;opacity: 0.8;"%>
								<div id="<%= "high_area#{i.id}" %>" style="position: absolute; overflow: hidden; z-index: 0; left: 0px; top: 0px; width: 0px; height: 0px; display: block; opacity: 0.7;" class="imgareaselect-outer"></div>
								<% area = highlighed_area.areas[0] %>
								<%= hidden_field_tag "image#{i.id}_ha#{i.id}","0" %>
				        <%= hidden_field_tag "image#{i.id}_ha#{i.id}_code_id", highlighed_area.code.id%>
				        <%= hidden_field_tag "image#{i.id}_ha#{i.id}_x1", area.x1 %>
				        <%= hidden_field_tag "image#{i.id}_ha#{i.id}_y1", area.y1 %>
				        <%= hidden_field_tag "image#{i.id}_ha#{i.id}_x2", area.x2 %>
				        <%= hidden_field_tag "image#{i.id}_ha#{i.id}_y2", area.y2 %>
				        <%= hidden_field_tag "image#{i.id}_ha#{i.id}_width", area.width %>
				        <%= hidden_field_tag "image#{i.id}_ha#{i.id}_height", area.height %>
							</div>
		        <% else %>
		        	<div class="span3 <%= "thum_image#{i.id}" %>">
								<%= image_tag "/assets#{i.local_path}", id: "image#{i.id}", style: "height:320px"%>
							</div>
						<% end %>					
					<% end %>
			<% end %>
		</div>
			<hr>
	<% end %>

	
<script type="text/javascript">
$(document).ready(function () {
	
	images = $(".images img")

	for (var i = images.length -1; i >= 0; i--) {
		if ( $(images[i]) != undefined ){
			c_image = $(images[i])

			ratio = 949/320

			c_img_id = c_image.attr("id").substr(5)
			
			high_area = $('#high_area' + c_img_id);
			curr_high_area_code = $("#image"+c_img_id+"_ha"+c_img_id+"_code_id").attr("value")
			high_area.css("background-color", $("#code-"+curr_high_area_code).css("background-color"))

			_top = parseFloat($("#image"+c_img_id+"_ha"+c_img_id+"_y1").attr("value")) / ratio
			_top = _top + c_image.position().top
			high_area.css("top", _top + "px" )

			_left = parseFloat($("#image"+c_img_id+"_ha"+c_img_id+"_x1").attr("value")) / ratio
			_left = _left + c_image.position().left
			high_area.css("left", _left + "px")

			_width = parseFloat($("#image"+c_img_id+"_ha"+c_img_id+"_width").attr("value")) / ratio
			high_area.css("width", _width + "px")

			_height = parseFloat($("#image"+c_img_id+"_ha"+c_img_id+"_height").attr("value")) / ratio
			high_area.css("height", _height + "px")
		};

	};

	

})


</script>


<script type="text/javascript">
$(function (argument) {
    $(".breadcrumb li").filter("li.active").attr("class"," ");
    $("#display").attr("class", "active");

})
</script>

