<% @title = "#{@thread.thread_display_name.capitalize} - PageOneX" %>
<div id="fb-root"></div>
<script>
	(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=234164799951470";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<div class="row">
	<div class="span8">
		<h2><%= @thread.thread_display_name.capitalize %></h2>
	</div>
	<div class="span2">
		<div class="btn-group pull-right">
		    <button class="btn btn-small">Export data</button>
		    <button class="btn btn-small dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
		    <ul class="dropdown-menu">
		      <!-- <li><a href="#">Download as  .svg </a></li>
		      <li><a href="#">Download as  .csv </a></li>-->
		      <li><a href="<%= "/#{@thread.owner.username.split(' ').join('_')}/#{@thread.thread_name}/export.ods" %>">Download as .ods</a></li>
		      <li><a href="<%= "/#{@thread.owner.username.split(' ').join('_')}/#{@thread.thread_name}/export.json" %>">Download as .json</a></li>
		      <!-- <li><a href="#">Download as  .png </a></li>
		      <li class="divider"></li>
		      <li><a href="#">Download as  .pdf </a></li>-->
		    </ul>
		</div>
	</div>
	<div class="span2">
		<% if @thread.owner == current_user %>
		<%=  link_to "Delete", "/threads/#{@thread.thread_name}" ,:method=>"delete" , :class => "btn btn-danger delete" %>
		<a href="<%= "/threads/#{@thread.thread_name}/edit"%>" class="btn">Edit</a> 
		<% end %>
	</div>
</div>





<div class="row">
	<div class="span5">
		<h4>Description</h4><p> <%= @thread.description %></p>
		<h4>Author/s</h4> <%= @thread.owner.username %>
	</div>
	<div class="span2">
		<h4>Topics</h4>
		  <ul class="nav nav-list">
			<% @thread.codes.each do |code| %>
			<li>
				<div id="code_<%= code.id %>" class="box_legend" style="background-color:<%= code.color %>;"> </div>
				<h4 class="codes_boxes" rel="popover"  data-content="<%= code.code_description %>" data-original-title="Description"><%= code.code_text %></h4>
			</li>
	       		<% end %>
		  </ul>
    	</div>
	<div class="span2">
		<h4>From</h4> <p><%= @thread.start_date.inspect %></p>
		<h4>To </h4> <p><%= @thread.end_date.inspect %></p>
	</div>
	<div class="span3">
		<h5>Category</h5> <span class="label"><%= @thread.category %></span>
		<h5>Status</h5> <p><%= @thread.status %></p>
	</div>
	
</div> 

<!--Share buttons-->
<div class="row">
	<div class="span1">
		<a href="https://twitter.com/share" class="twitter-share-button" data-via="PageOneX" data-hashtags="PageOneX" data-dnt="true">Tweet</a>
	</div>
	<div class="span4">
		<div class="fb-like" data-send="true" data-layout="button_count" data-width="460" data-show-faces="true" data-action="recommend" data-font="verdana"></div>
	</div>
</div>
<!--End Share buttons-->
<div class="row">
	<div id="chart_div" style="margin-left: 110px;width: 1210px; margin-bottom: -30px;"></div><!--div to display bar chart-->
</div>
<!-- <div id="ratios"> -->
	<% @ratios.each do |v,r|  %>
		<% hidden_field_tag "v#{v}", r %>
	<% end %>
<!-- </div> -->
<%= hidden_field_tag "number_of_column", @ratios.length %>
<%= hidden_field_tag "number_of_rows", @thread.media.length %>

	<!--
	<div id="ratios">
		<% @codes_high_areas.each do |column, codes| %>
			<div id="<%= "row_#{column}" %>">
					<% codes.each do |code_id,value| %>
						<%= hidden_field_tag "#{code_id}", value %>
					<% end %>
				
			</div>
		<% end %>
	</div>
	-->
	<div id="ratios">
		<!-- for each column we create a div contains set of hidden fields each on represent a code percentage -->
		<% @results[:dates].each_with_index do |date, index| %>
			<div id="<%= "row_c#{index + 1}" %>">
					<% @results[:codes].each_with_index do |code, index| %>
						<%= hidden_field_tag "code_#{index}", @results[:data][date]['Total'][code] %>
					<% end %>
			</div>
		<% end %>
	</div>

	<br>

	<div id="date-box">
		<% (@thread.start_date..@thread.end_date).each do |d| %>
			<%= hidden_field_tag "#{d.day}/#{d.month}" %>
		<% end %>
	</div>
<div id="datavis" style="display: none;">
	<!-- loop over all the newspaper in the thread and find which images are belongs to this newspaper and then insert this images into this newspaper row -->
	<% @thread.media.each do |m| %>
		<div class="row images" >
			<div class="span2" style="/*width: 195px;*/">
				<div class="" style="overflow: overlay; margin-right: -23px ;text-align: right;">
  					<h2 style="font-size: 12px;"><%= link_to m.display_name, m.url, class: 'custom-link' %></h2>
				</div>
			</div>
			<div class="img_box span10" >
				<% @thread.images.each_with_index do |image, ic| %>
					<% if @images[ic].media == m  %>  <!-- only displays images from that particular media-->
						<div id="<%= "image_box#{ic+1}" %>" style="margin-bottom: 4px" class="span1 <%= "thum_image#{ic+1}" %>" image_name="<%= image.image_name %>">
						<a href='<%= "/#{@thread.owner.username.split(' ').join('_')}/#{@thread.thread_name}/coding/?i=#{image.image_name}" %>' title="">
							<!-- display images stored locally -->
							<% if use_local_images %>
								<% if @thread.image_coded? @images[ic] %> 
									<%= image_tag @thread.images[ic].local_path, id: "image#{ic+1}", image_size: @images[ic].size, name: @images[ic].image_name, class: "thumb-img-coded"  %>
								<% else %> 
									<%= image_tag @thread.images[ic].local_path, id: "image#{ic+1}", image_size: @images[ic].size, name: @images[ic].image_name, class: "thumb-img-no-coded" %>
								<% end %>
							<% else %>
							<!-- display live version form kiosko, just for the online beta version on heroku -->
							<% if @images[ic].source_url == "404.jpg" %>
								<img src="/assets/404.jpg" alt="" id="<%= "image#{ic+1}" %>" class="thumb-img" image_size="<%= @images[ic].size %>" />
							<% else %>
								<% if @thread.image_coded? @images[ic] %> 
									<img src="<%= @images[ic].source_url %>" alt="" id="<%= "image#{ic+1}" %>" class="thumb-img-coded" image_size="<%= @images[ic].size %>" name="<%= @images[ic].image_name %>" />
								<% else %> 
									<img src="<%= @images[ic].source_url %>" alt="" id="<%= "image#{ic+1}" %>" class="thumb-img-no-coded" image_size="<%= @images[ic].size %>" name="<%= @images[ic].image_name %>" />
								<% end %>
							<% end %>
							<!-- end -->
							<% end %>
						</a>
						<% @thread.highlighted_areas_for_image(image).each do |ha| %>
							<div id="<%= "ha_#{ha.id}" %>" style="position: absolute; overflow: hidden; z-index: 0; left: 0px; top: 0px; width: 0px; height: 0px; display: block; opacity: 0.7;" class=""></div>
						<% end %>
						</div>
					<% end %>
				<% end %>
			</div>
		</div>
		
	<% end %>
</div>

<h2 id="loading-bar-h">Please wait</h2>
<div id="loading-bar" class="progress progress-striped active">

		<div class="bar" style="width:1%;"></div>
</div>

	<div id="high_images">
	    <% @thread.images.each do |image| %>
		<div class="ha_group" id="ha_group_<%= image.image_name %>">
		    <% @thread.highlighted_areas_for_image(image).each_with_index do |ha, index| %>
			<div id="<%= "#{image.image_name}_#{index}" %>">
			    <%= hidden_field_tag "ha_name[]", "#{image.image_name}_#{index}" %>
			    <%= hidden_field_tag "img_id_#{image.image_name}_#{index}", "#{image.image_name}" %>
			    <%= hidden_field_tag "id_#{image.image_name}_#{index}", "#{ha.id}" %>
			    <%= hidden_field_tag "code_id_#{image.image_name}_#{index}", "#{ha.code_id}" %>
			    <%= hidden_field_tag "x1_#{image.image_name}_#{index}", "#{ha.areas.first.x1}" %>
			    <%= hidden_field_tag "y1_#{image.image_name}_#{index}", "#{ha.areas.first.y1}" %>
			    <%= hidden_field_tag "x2_#{image.image_name}_#{index}", "#{ha.areas.first.x2}" %>
			    <%= hidden_field_tag "y2_#{image.image_name}_#{index}", "#{ha.areas.first.y2}" %>
			    <%= hidden_field_tag "width_#{image.image_name}_#{index}", "#{ha.areas.first.width}" %>
			    <%= hidden_field_tag "height_#{image.image_name}_#{index}", "#{ha.areas.first.height}" %>
			    <%= hidden_field_tag "deleted_#{image.image_name}_#{index}" %>
			</div>
		    <% end %>
		</div>
	    <% end %>
	    <%= hidden_field_tag "status", "0" %>
	</div>

<!-- other library we were using for the column chart, it's comment just in case we want to reuse it again -->
<!-- "d3.min.js", "d3.layout.min.js", "rickshaw.min.js", -->
<%= javascript_include_tag "highlighted_area.js" %>
<%= javascript_include_tag "display.js" %>
<div class="row">
	<div class="offset2 span8">
		<h3><%= @thread.thread_display_name %> </h3>
		<p><%= @thread.start_date.inspect %> - <%= @thread.end_date.inspect %></p>
		<ul class="inline">
		<% @thread.codes.each do |code| %>
		  <li rel="popover"  data-content="<%= code.code_description %>" data-original-title="Description" >
			    <div id="code_<%= code.id %>" style="background-color:<%= code.color %>;" class="box_legend"></div>
			    <div class="legend_text"> <%= code.code_text  %> </div>
		  </li>
	       	<% end %>
		</ul>
	</div>	
	</div>
</div>
<script>

	// var data = [ { x: 0, y: 40 }, { x: 1, y: 49 }, { x: 2, y: 17 }, { x: 3, y: 42 } ];

	// var number_of_images = parseInt($("#number_of_column").attr("value"))
	// var data = []
	// var column_value = 0
	// for (var i = 1; i <= number_of_images; i++) {
	// 	column_value = parseInt($("#ratios #v"+i).attr("value"))
	// 	data.push({
	// 		x: i,
	// 		y: column_value
	// 	})
	// };

	// // var row_width = $("div.images").width() - 225;	
	// var row_width = $(".img_box").width()

	// var graph = new Rickshaw.Graph( {
	//     element: document.querySelector("#chart"),
	// 	renderer: 'bar',
	//     //width: 640,
	//     width: row_width,
	//     height: 90,
	//     series: [ {
	//             color: $(".codes").css("background-color"),
	//             data: data
	//     } ]
	// } );

	// graph.render();


</script>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  // $("#chart_div").css("width",$(".img_box").width())

  // initialize the visualization
	google.load("visualization", "1", {packages:["corechart"]});
	google.setOnLoadCallback(drawChart);
	

	var number_of_images = parseInt($("#number_of_column").attr("value"))
	var number_of_codes = $(".codes_boxes").length 

	// this is an array of arrays which will store the columns dates, and the first array will be the header
	var columns_data = [['Dates']]

	// add the codes names in the first array
	for (var i = 0; i < number_of_codes; i++) {
		columns_data[0].push($($(".codes_boxes")[i]).text())
	};

	var dates = $("#date-box input")
	var column_values = []
	var column_codes = []

	// iterates over the ratios stored in hidden fields and load them into the arrays
	for (var i = 1; i <= number_of_images; i++) {
		column_values = [ dates[i-1].name]
		column_codes = $("#row_c"+i).children()

		for (var z = 0; z < number_of_codes; z++) {
			column_values.push(parseFloat($(column_codes[z]).attr("value")))
		};
		columns_data.push(column_values)
		
		column_values = []
		column_codes = []
	};
	
	var codes = $(".box_legend") 
	// load the codes colors in the codes_colors array to pass this array in the initialization function later, to set to the codes colors
	var codes_colors = []
	for (var i = 0; i < codes.length; i++) {
		codes_colors.push($(codes[i]).css("background-color"))
	};
	
	function drawChart() {
		var data = google.visualization.arrayToDataTable(columns_data);
		var options = {
		  hAxis: { textPosition: 'out',	textStyle: { fontSize: 9} },
		  vAxis: {title: 'Percentage of total newspapers area', titleTextStyle: {color:'#666', italic: false}, format:'#,##%', gridlines: {color: '#ddd',count: 3},textStyle:{fontSize:'10'},viewWindow:{min:0}}, 
		  bar:{groupWidth:'51%'}, 
		  legend:{position: 'none'}, 
		  colors: codes_colors
		};
		var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));	
		// to be used after adding twitter
		// var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));	
		
		// start the drawing of the visualization
		chart.draw(data, options);
	}
</script>


<script type="text/javascript">
$(function (argument) {
    $(".breadcrumb li").filter("li.active").attr("class"," ");
    $("#disp").css("font-weight","bold")
    $("#disp").css("color","#fff")
    $("#disp").attr("class", "btn btn-info");

	$(".delete").click(function (event) {
		event.preventDefault()
		if (confirm("Are you sure?")) {
			event.click()
		};
		return false
	})
})
</script>
