<h1>Coding: <%= @thread.thread_display_name.capitalize %></h1>

<hr>
<div class="row">
    <div class="span2" >
        <% @thread.codes.each do |code| %>
            <div style="background-color:<%= code.color %>;color:black" class="alert alert-info">
                <p id="<%= code.code_text %>"><h4><%= code.code_text %></h4>
                    <br>
                    <%= code.code_description %>
                </p>
            </div>
        <% end %>

        <hr>
        <h3>Newspaper info</h3>
        <a id="newspaper_name" href="#"> </a>

        <hr>
        <h3>Publication Date</h3>
        <a id="publication_date" href=""></a>

        <hr>
        <h3>Source of image</h3>
        <a href="#">Kiosko.com</a>
    </div>
    <div id="images_section" class="span7">
        <div id="myCarousel" class="carousel slide">
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="active item"><%= image_tag "/assets#{@images[0].local_path}", :id => "image1", :style => "height: 949px;" , :media=>@images[0].media.display_name%></div>

            <% 1.upto(@image_counter-1) do |ic| %>
                <div class="item"><%= image_tag "/assets#{@images[ic].local_path}", :id => "image#{ic+1}", :style => "height: 949px;", :media=>@images[ic].media.display_name %></div>
            <%end%>
          </div>
          <!-- Carousel nav -->
        <a class="carousel-control left"  style="z-index: 200;" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" style="z-index: 200;" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>

        <div id="high_area1" style="position: absolute; overflow: hidden; z-index: 0; left: 0px; top: 0px; width: 0px; height: 0px; display: block; " class="imgareaselect-outer"></div>

        <div id="high_area2" style="position: absolute; overflow: hidden; z-index: 0; left: 0px; top: 0px; width: 0px; height: 0px; display: block; " class="imgareaselect-outer"></div>
        <hr>

        <div class="modal hide" id="coding_topics">
          <div class="modal-header">
            <!-- <button type="button" class="close" data-dismiss="modal">×</button> -->
            <h3>Coding Topics</h3>
          </div>
          <div class="modal-body">
            <p>Please select a topic:</p>
            <% @thread.codes.each do |code| %>
                <%= radio_button_tag "codes", code.code_text, false, color: code.color, code_id: code.id %> <%= code.code_text %><br>
            <% end %>
            <input  id="current_high_area" type="hidden" value="1"/>
          </div>
          <div class="modal-footer">
            
            <a href="#" data-dismiss="modal" class="btn btn-primary">Okay</a>
          </div>
        </div>

        <%= form_tag "/threads/#{@thread.thread_name}/display" do %> 
        <% @image_counter.downto(1) do |ic| %>
            
            <div id="image<%= ic %>">
                <% if false #@highlighted_areas != [] %>
                    <%= hidden_field_tag "image#{ic}_ha1","0" %>
                    <%= hidden_field_tag "image#{ic}_ha1_code_id",@highlighted_areas[ic].code.id  %>
                    <%= hidden_field_tag "image#{ic}_ha1_x1",@highlighted_areas[ic].areas[0].x1 %>
                    <%= hidden_field_tag "image#{ic}_ha1_y1",@highlighted_areas[ic].areas[0].y1 %>
                    <%= hidden_field_tag "image#{ic}_ha1_x2" ,@highlighted_areas[ic].areas[0].x2 %>
                    <%= hidden_field_tag "image#{ic}_ha1_y2" ,@highlighted_areas[ic].areas[0].y2 %>
                    <%= hidden_field_tag "image#{ic}_ha1_width" ,@highlighted_areas[ic].areas[0].width %>
                    <%= hidden_field_tag "image#{ic}_ha1_height" ,@highlighted_areas[ic].areas[0].height %>
                <% else %>
                    <%= hidden_field_tag "image#{ic}_ha1","0" %>
                    <%= hidden_field_tag "image#{ic}_ha1_code_id","0" %>
                    <%= hidden_field_tag "image#{ic}_ha1_x1" %>
                    <%= hidden_field_tag "image#{ic}_ha1_y1" %>
                    <%= hidden_field_tag "image#{ic}_ha1_x2" %>
                    <%= hidden_field_tag "image#{ic}_ha1_y2" %>
                    <%= hidden_field_tag "image#{ic}_ha1_width" %>
                    <%= hidden_field_tag "image#{ic}_ha1_height" %>
                <% end %>
                <%= hidden_field_tag "image#{ic}_ha2","0" %>
                <%= hidden_field_tag "image#{ic}_ha2_code_id","0" %>
                <%= hidden_field_tag "image#{ic}_ha2_x1" %>
                <%= hidden_field_tag "image#{ic}_ha2_y1" %>
                <%= hidden_field_tag "image#{ic}_ha2_x2" %>
                <%= hidden_field_tag "image#{ic}_ha2_y2" %>
                <%= hidden_field_tag "image#{ic}_ha2_width" %>
                <%= hidden_field_tag "image#{ic}_ha2_height" %>
            </div>   
       
        <%end%>
        
        <div class="form-actions" style="text-align:center">
            
            <%= submit_tag "Display Now »",  class: "btn btn-primary"%>
            <a id="clear_highlighting" class="btn  btn-danger">Clear Highlighted Areas</a>
            <a id="skip_coding" class="btn btn-inverse">Nothing to Code</a>
            <a href"/" class="btn ">Cancel</a>
        </div>

        <br>
        <% end %>
        
    </div>
</div>



<script type="text/javascript">
$(function (argument) {
    $(".breadcrumb li").filter("li.active").attr("class"," ");
    $("#code").attr("class", "active");

})
</script>

<%= javascript_include_tag "coding" %>