<% @title = "Coding: #{@thread.thread_display_name} - PageOneX" %>

<% unless @allowed_to_code %>
<div class="alert alert-block">
    <a type="button" class="close" data-dismiss="alert">×</a>
    <h3 class="" style="text-align: center;">You don't have a premission to code in this thread</h3>
</div>
<% end %>


<h3>Coding Progress: You Have Coded [<span id="remain"></span>] from [<span id="total"></span>]</h3>
<div class="progress progress-striped">
  <div class="bar" style="width: 0%;"></div>
</div>

<hr>
<div class="row">
    <div class="span2" >
        <h4><%= @thread.thread_display_name %></h4	>
<!--         <h3>Current Image Number:</h3>
        <h3 id="image_number" style="font-weight:normal"></h3>
        <hr> -->
        <h5>Topics</h5>
        	<ul id="topics" class="nav nav-list">
			<% @thread.codes.each do |code| %>
			<li>
				<div id="code_<%= code.id %>" class="box_legend" style="background-color:<%= code.color %>;"> </div>
				<h4 class="codes_boxes" rel="popover"  data-content="<%= code.code_description %>" data-original-title="Description"><%= code.code_text %></h4>
			</li>
	       		<% end %>
		  </ul>
	<hr>
	<!--name and link to the newspaper -->
	<a id="newspaper_name"></a>
        <p id="publication_date" href=""></p>
	<hr>

        <p><!-- link to the original source of the image -->
		<a id="original_image_url"></a><br>
		<small>Image downloaded from <a href="http://kiosko.net" title="">kiosko.net</a></small>
	</p>
        <!-- we are not using the direct link, because if you redirect from the same domain to kiosko, it will render the 300px image instead of the 750px -->
        <!-- <a id="source_of_image"  href="#">Original image form - Kiosko.net</a> -->
        <input id="source_of_image" type="text" class="span2" value="#" rel="tooltip" title="Copy + Paste">

    </div>
    <div id="images_section" class="span7">
        <% if @allowed_to_code %>
            <div class="row" id="aboveImageToolbar">
                <div class="span7">
                    <div class="btn-toolbar">
                        <div class="pull-right btn-group">
                            <a id="" class="btn btn-danger clear_highlighting">Clear Highlighted Areas</a>
                            <a id="" class="btn btn-inverse skip_coding">Nothing to Code</a>
                        </div>
                    </div>
                    <div id="youHaveLoopedAlert" class="alert alert-info above-image-alert" style="display:inline-block">
                        You are looking at the first image of this thread.
                    </div>
                    <div id="downloadImageAlert" class="alert above-image-alert" style="display:inline-block">
                        <%= form_tag("/images/download", method: "post", :class=>'form-inline') do %>
                            Missing image! &nbsp;
                            <%= hidden_field_tag "missing_image_id", "" %>
                            <%= hidden_field_tag "thread_id", @thread.id %>
                            <%= submit_tag "try to download it", :class=>"btn" %>
                        <% end %>
                    </div>
                </div>
            </div>
        <% else %>
            <div class="form-actions" style="text-align:center">
                <a href="<%= "/#{@thread.owner.username}/#{@thread.thread_name}/" %>" class="btn btn-inverse">Go to Display</a>
                <a href="/" class="btn ">Cancel</a>
            </div>
        <% end %>
        <!-- Starting of the image slider (carousel) -->
        <div id="myCarousel" class="carousel slide" >
          <!-- Carousel items -->
          <div class="carousel-inner">

            <% 0.upto(@images.length-1) do |ic| %>
                <div class="item <%= 'active' if ic==0%> ">

                    <% if use_local_images %>
                        <%= image_tag @images[ic].local_path, 
                                    :id => "image#{ic+1}", :style => "width: 670px", 
                                    :media=>@images[ic].media.display_name, :name=>@images[ic].id,
                                    :image_size=>@images[ic].size, :pub_date=>@images[ic].publication_date,
                                    :url=>@images[ic].source_url, :media_url=>@images[ic].media.url, 
                                    'data-id'=>@images[ic].id , 'data-missing'=>@images[ic].missing
                        %>
                    <% else %>
                        <!-- display live version form kiosko, just for the online beta version on heroku -->
                        <% if @images[ic].local_path == "404.jpg" %>
                            <img src="/assets/404.jpg" alt="404" data-id="<%=image.id%>" id="<%= "image#{ic+1}" %>" style="width: 670px;" image_size="<%= @images[ic].size %>" media="<%= @images[ic].media.display_name%>" pub_date="<%= @images[ic].publication_date %>" name="" />
                        <% else %>
                            <img src="<%= @images[ic].source_url %>" data-id="<%=image.id%>" alt="<%= @images[ic].image_name %>" id="<%= "image#{ic+1}" %>" style="width: 670px;" image_size="<%= @images[ic].size %>" media="<%= @images[ic].media.display_name%>" url="<%= @images[ic].media.url%>" pub_date="<%= @images[ic].publication_date %>" name="<%= @images[ic].id %>" />
                        <% end %>
                        <!-- end -->
                    <% end %>

                </div>
            <%end%>

          </div>
          <!-- Carousel nav -->

        <a id="carouselPrevLink" class="carousel-control left"  style="z-index: 200;" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a id="carouselNextLink" class="carousel-control right" style="z-index: 200;" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>

        <div id="high_area_template" style="opacity: 0.5;position: absolute; overflow: hidden; z-index: 0; left: 0px; top: 0px; width: 0px; height: 0px; display: block; " class="high_area"></div>

        

        <div class="modal hide" id="coding_topics" style="width: 265px;">
          <div class="modal-header">
            <!-- <button type="button" class="close" data-dismiss="modal">×</button> -->
            <h3>Coding Topics</h3>
          </div>
          <div class="modal-body">
            <p>Please select a topic:</p>
                <%= select_tag :codes, options_from_collection_for_select(@thread.codes, "id", "code_text")%>
          </div>
          <div class="modal-footer">
            <a id="set_code" href="#" data-dismiss="modal" class="btn btn-primary">Okay</a>
          </div>
        </div>

        <% if @allowed_to_code %>
            <% form_destination = "/#{current_user.username}/#{@thread.thread_name}/process_highlighted_areas" %>
        <% else %>
            <% form_destination = "/dev/null" %>
        <% end %>
        <%= form_tag form_destination do %>
    	    <%= hidden_field_tag "status", "0", :id => 'status' %>
    	    <div id="coded_pages">
        		<% @thread.images.each do |image| %>
        		    <%= hidden_field_tag 'image_name[]', image.id %>
        		    <%= hidden_field_tag "nothing_to_code_#{image.id}", @thread.coded_pages.for_image(image).for_user(current_user).length %>
        		<% end %>
    	    </div>
            <div id="high_images">
                <% @thread.images.each do |image| %>
                    <div id="ha_group_<%= image.id %>">
                        <% @thread.highlighted_areas_for_image(image).each_with_index do |ha, index| %>
        			    <div id="<%= "ha_#{image.id}_#{index}" %>">
            				<%= hidden_field_tag "ha_name[]", "ha_#{image.id}_#{index}" %>
            				<%= hidden_field_tag "img_id_ha_#{image.id}_#{index}", "#{image.id}" %>
            				<%= hidden_field_tag "id_ha_#{image.id}_#{index}", "#{ha.id}" %>
            				<%= hidden_field_tag "code_id_ha_#{image.id}_#{index}", "#{ha.code_id}" %>
                            <% if ha.user.nil? %>
                                <%= hidden_field_tag "username_ha_#{image.id}_#{index}", "" %>
                                <%= hidden_field_tag "hash_ha_#{image.id}_#{index}", "" %>
                            <% else %>
                                <%= hidden_field_tag "username_ha_#{image.id}_#{index}", "#{ha.user.username}" %>
					            <%= hidden_field_tag "hash_ha_#{image.id}_#{index}", "#{ha.user.email_hash}" %>
            				<% end %>
                            <%= hidden_field_tag "x1_ha_#{image.id}_#{index}", "#{ha.areas.last.x1}" %>
            				<%= hidden_field_tag "y1_ha_#{image.id}_#{index}", "#{ha.areas.last.y1}" %>
            				<%= hidden_field_tag "x2_ha_#{image.id}_#{index}", "#{ha.areas.last.x2}" %>
            				<%= hidden_field_tag "y2_ha_#{image.id}_#{index}", "#{ha.areas.last.y2}" %>
            				<%= hidden_field_tag "width_ha_#{image.id}_#{index}", "#{ha.areas.last.width}" %>
            				<%= hidden_field_tag "height_ha_#{image.id}_#{index}", "#{ha.areas.last.height}" %>
            				<%= hidden_field_tag "deleted_ha_#{image.id}_#{index}" %>
        			    </div>
                        <% end %>
                    </div> 
               <% end %>
            </div>
            <%= hidden_field_tag "status", "0" %>
            <% if @allowed_to_code %>
                <div class="form-actions" style="text-align:center">
                    <div class="pull-left btn-group">
                        <a id="" class="btn  btn-danger clear_highlighting">Clear Highlighted Areas</a>
                        <a id="" class="btn btn-inverse skip_coding">Nothing to Code</a>
                    </div>

                    <div class="pull-right">
            			<div class="btn-group">
            		            <%= submit_tag "Save", class: "save btn btn-primary "%>
            		            <%= submit_tag "Save and Display", class: "save btn btn-info"%>
            			<a href="/" class="btn ">Cancel</a>
            			</div>
                        
                    </div>
                </div>
            <% else %>
                <div class="form-actions" style="text-align:center">
                    <a href="<%= "/#{@thread.owner.username}/#{@thread.thread_name}/" %>" class="btn btn-inverse">Go to Display</a>
                    <a href="/" class="btn ">Cancel</a>
                </div>
            <% end %>
            <br>
        <% end %>
        
    </div>
    
    <div class="alert alert-info span2" style="margin-left: 78px;">
      <a id="close_help" type="button" class="close" data-dismiss="alert">×</a>
      <h3>How coding works</h3>
      <br>    
      <h4>Steps</h4>
      <ol>
          <li>Drag the mouse over the related article.</li>
          <li>Release the mouse when you have covered the box.</li>
          <li>If there is nothing to code, you can press the button "Nothing to Code"</li>
      </ol>
      <h4>Notes</h4>
      <ul>
        <li>The progress bar at the top page shows how many images have been coded</li>
        <li>You can draw as many areas as needed</li>
        <li>You can use the keyboard shortcuts: <strong>&larr;</strong> = previous image, <strong>&rarr;</strong> = next image, <strong>n</strong> = nothing to code.</li>
	<li>If an image is missing, it might be because it was not available when we tried to scrape it. Try the button "try to download it".</li>
      </ul>
    </div>
    
</div>

<%= hidden_field_tag "help_closed" %>

<script type="text/javascript">
// store thead-specific variables needed by the JS code
var pageData = {
    totalImageCount: <%=@thread.images.length%>,
    startImageId: "<%=params[:i]%>",   // support jumping to the image the user clicked on in the threadx display view
    allowedToCode: <%= @allowed_to_code ? 'true' : 'false' %>,
    currentHighlightedArea: 1   // used to pass in the current highlighted area id to the modal to choose a topic
}

// initialize the page
$(function() {
    $(".breadcrumb li").filter("li.active").attr("class"," ");

    // indicate that we are on the coding page, ie. not the display page
    $("#coding").css("font-weight","bold")
    $("#coding").css("color","#fff")
    $("#coding").attr("class", "btn btn-info");

    // hide alerts
    $('#youHaveLoopedAlert').hide();
    $('#downloadImageAlert').hide();

    // support auto-starting on the image the user clicked in the display view
    if (pageData.startImageId.length != 0) {
        $("#images_section div.active img").parent().attr("class", "item")
        var startImage = $("#images_section div img[data-id='"+pageData.startImageId+"']");
        startImage.parent().attr("class", "active item");
        setMissingImageInfoFromImg(startImage);
    };

    // when the user click save, it will set the status to "0", to allow the form to be submitted
    $(".save").click(function (e) { setModified(0) })

    $(document).bind('keydown', 'left', function(){ $('#carouselPrevLink').click() });
    $(document).bind('keydown', 'right', function(){ $('#carouselNextLink').click() });
    $(document).bind('keydown', 'n', markAsNothingToCode);
})

// make sure the user doesn't lose their work by making sure they want to close the page
window.onbeforeunload = function(e,s) {
    if (isModified()) { 
        return "If you leave this page without saving you will lose your work";
    };
}

current_user = <%= raw current_user.nil? ? "''" : "'#{current_user.username}'" %>;
current_user_hash = <%= raw current_user.nil? ? "''" : "'#{current_user.hash}'" %>;
</script>

<%= javascript_include_tag "jquery.hotkeys", "jquery.imgareaselect", "highlighted_area", "md5", "coding" %>

<%= render :partial => "coding_footer" %>
