<h1>Coding: <%= @thread.thread_name %></h1>

<hr>
<div class="row">
    <div class="span2" >
        <% @thread.codes.each do |code| %>
            <div style="background-color:<%= code.color %>;color:black" class="alert alert-info">
                <p  id="<%= code.code_text %>"><h4><%= code.code_text %></h4>
                    <br>
                    <%= code.code_description %>
                </p>
            </div>
        <% end %>

        <hr>
        <h3>Name of Newspaper</h3>
        <a href="#">New York Times, US </a>

        <hr>
        <h3>Current image details</h3>
        <a id="current_img_details" href="#"> </a>

        <hr>
        <h3>Source of image</h3>
        <a href="#">Kiosko.com</a>
    </div>
    <div id="images_section" class="span7">
        <div id="myCarousel" class="carousel slide">
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="active item"><%= image_tag "1.jpg", id: "image1", style: "height:949px"%></div>
            <div class="item"><%= image_tag "2.jpg", id: "image2", style: "height:949px"%></div>
            <div class="item"><%= image_tag "3.jpg", id: "image3", style: "height:949px"%></div>
          </div>
          <!-- Carousel nav -->
        <a class="carousel-control left"  style="z-index: 200;" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" style="z-index: 200;" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>

        <div id="high_area1" style="position: absolute; overflow: hidden; z-index: 0; left: 0px; top: 0px; width: 0px; height: 0px; display: block; " class="imgareaselect-outer"></div>

        <div id="high_area2" style="position: absolute; overflow: hidden; z-index: 0; left: 0px; top: 0px; width: 0px; height: 0px; display: block; " class="imgareaselect-outer"></div>
        <hr>

        <div class="modal hide" id="coding_topics">
          <div class="modal-header">
            <!-- <button type="button" class="close" data-dismiss="modal">×</button> -->
            <h3>Coding Topics</h3>
          </div>
          <div class="modal-body">
            <p>Please select a topic:</p>
            <% @thread.codes.each do |code| %>
                <%= radio_button_tag "codes", code.code_text, false,color: code.color %> <%= code.code_text %><br>
            <% end %>
            <input  id="current_high_area" type="hidden" value=""/>
          </div>
          <div class="modal-footer">
            
            <a href="#" data-dismiss="modal" class="btn btn-primary">Okay</a>
          </div>
        </div>

        <%= form_tag "/threads/#{@thread.thread_name}/display" do %> 
        <div id="image1">
            <%= hidden_field_tag "image1_ha1","0" %>
            <%= hidden_field_tag "image1_ha1_code_id","0" %>
            <%= hidden_field_tag "image1_ha1_x1" %>
            <%= hidden_field_tag "image1_ha1_y1" %>
            <%= hidden_field_tag "image1_ha1_x2" %>
            <%= hidden_field_tag "image1_ha1_y2" %>
            <%= hidden_field_tag "image1_ha1_width" %>
            <%= hidden_field_tag "image1_ha1_height" %>

            <%= hidden_field_tag "image1_ha2","0" %>
            <%= hidden_field_tag "image1_ha2_code_id","0" %>
            <%= hidden_field_tag "image1_ha2_x1" %>
            <%= hidden_field_tag "image1_ha2_y1" %>
            <%= hidden_field_tag "image1_ha2_x2" %>
            <%= hidden_field_tag "image1_ha2_y2" %>
            <%= hidden_field_tag "image1_ha2_width" %>
            <%= hidden_field_tag "image1_ha2_height" %>
            
        </div>
        <div id="image2">
            <%= hidden_field_tag "image2_ha1","0" %>
            <%= hidden_field_tag "image1_ha1_code_id","0" %>
            <%= hidden_field_tag "image2_ha1_x1" %>
            <%= hidden_field_tag "image2_ha1_y1" %>
            <%= hidden_field_tag "image2_ha1_x2" %>
            <%= hidden_field_tag "image2_ha1_y2" %>
            <%= hidden_field_tag "image2_ha1_width" %>
            <%= hidden_field_tag "image2_ha1_height" %>

            <%= hidden_field_tag "image2_ha2","0" %>
            <%= hidden_field_tag "image1_ha2_code_id","0" %>
            <%= hidden_field_tag "image2_ha2_x1" %>
            <%= hidden_field_tag "image2_ha2_y1" %>
            <%= hidden_field_tag "image2_ha2_x2" %>
            <%= hidden_field_tag "image2_ha2_y2" %>
            <%= hidden_field_tag "image2_ha2_width" %>
            <%= hidden_field_tag "image2_ha2_height" %>
        </div>
        <div id="image3">
            <%= hidden_field_tag "image3_ha1","0" %>
            <%= hidden_field_tag "image1_ha1_code_id","0" %>
            <%= hidden_field_tag "image3_ha1_x1" %>
            <%= hidden_field_tag "image3_ha1_y1" %>
            <%= hidden_field_tag "image3_ha1_x2" %>
            <%= hidden_field_tag "image3_ha1_y2" %>
            <%= hidden_field_tag "image3_ha1_width" %>
            <%= hidden_field_tag "image3_ha1_height" %>

            <%= hidden_field_tag "image3_ha2","0" %>
            <%= hidden_field_tag "image1_ha2_code_id","0" %>
            <%= hidden_field_tag "image3_ha2_x1" %>
            <%= hidden_field_tag "image3_ha2_y1" %>
            <%= hidden_field_tag "image3_ha2_x2" %>
            <%= hidden_field_tag "image3_ha2_y2" %>
            <%= hidden_field_tag "image3_ha2_width" %>
            <%= hidden_field_tag "image3_ha2_height" %>
        </div>

        <div class="form-actions" style="text-align:center">
            
            <%= submit_tag "Display Now »",  class: "btn btn-primary"%>
            <a id="clear_highlighting" class="btn  btn-danger">Clear Highlighted Areas</a>
            <a href"/" class="btn ">Cancel</a>
        </div>

        <br>
        <% end %>
        
    </div>
</div>



<script type="text/javascript">
$(function (argument) {
    $(".breadcrumb li").filter("li.active").attr("class"," ");
    $("#code").attr("class", "active");

})
</script>
