<% unless @thread.owner == current_user %>
<div class="alert alert-block">
    <a type="button" class="close" data-dismiss="alert">×</a>
    <h3 class="" style="text-align: center;">You don't have a premission to code in this thread</h3>
</div>
<% end %>



<h3>Coding Progress: You Have Coded [<span id="remain"></span>] from [<span id="total"></span>]</h3>
<div class="progress">
  <div class="bar" style="width: 0%;"></div>
</div>

<%= hidden_field_tag "total_images_number", @thread.images.length %>

<hr>
<div class="row">
    <div class="span2" >
        <h2>Thread Name:</h2>
        <h3><%= @thread.thread_display_name.capitalize %></h3>
        <hr>
        <h3>Current Image Number:</h3>
        <h3 id="image_number" style="font-weight:normal"></h3>
        <hr>
        <h3>Topics coded:</h3>
            <% @thread.codes.each do |code| %>
                <div id="code<%= code.id %>" style="background-color:<%= code.color %>;color:black" class="code"></div>
                <h3>Name: </h3> <span><%= code.code_text.split("_").join(" ") %></span>
                <h3>Description: </h3><span><%= code.code_description %></span>
                <h3>Color: </h3><span style="background-color:<%= code.color %>;color: <%= code.color %>"><%= code.color %></span>
            
        <% end %>

        <hr>
        <h3>Newspaper info</h3>
        <!-- <a id="newspaper_name" href="#"> </a> -->
        <p id="newspaper_name"></p>
        <hr>
        <h3>Publication Date</h3>
        <!-- <a id="publication_date" href=""></a> -->
        <p id="publication_date" href=""></p>

        <hr>
        <h3>Source of image</h3>
        <a href="http://Kiosko.net">Kiosko.net</a>
    </div>
    <div id="images_section" class="span7">
        <div id="myCarousel" class="carousel slide" >
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="active item">
                <% # image_tag "/assets#{@images[0].local_path}", :id => "image1", :style => "width: 670px;" , :media=>@images[0].media.display_name, image_size: @images[0].size %>

                <!-- display live version form kiosko, just for the online beta version on heroku -->
                <% if @images[0].local_path == "404.jpg" %>
                    <img src="/assets/404.jpg" alt="" id="<%= "image1" %>" style="width: 670px;" image_size="<%= @images[0].size %>" media="<%= @images[0].media.display_name%>" pub_date="<%= @images[0].publication_date %>" name="<%= "#{@images[ic].media.name}_#{@images[0].publication_date.day}_#{@images[0].publication_date.month}" %>" />
                <% else %>
                    <img src="<%= @images[0].local_path %>" alt="" id="<%= "image1" %>" style="width: 670px;" image_size="<%= @images[0].size %>" media="<%= @images[0].media.display_name%>" pub_date="<%= @images[0].publication_date %>" name="<%= "#{@images[0].media.name}_#{@images[0].publication_date.day}_#{@images[0].publication_date.month}" %>" />
                <% end %>
                <!-- end -->
                
            </div>

            <% 1.upto(@image_counter-1) do |ic| %>
                <div class="item">
                    <% #image_tag "/assets#{@images[ic].local_path}", :id => "image#{ic+1}", :style => "width: 670px", :media=>@images[ic].media.display_name, image_size: @images[ic].size %>

                    <!-- display live version form kiosko, just for the online beta version on heroku -->
                    <% if @images[ic].local_path == "404.jpg" %>
                        <img src="/assets/404.jpg" alt="" id="<%= "image#{ic+1}" %>" style="width: 670px;" image_size="<%= @images[ic].size %>" media="<%= @images[ic].media.display_name%>" pub_date="<%= @images[ic].publication_date %>" name="<%= "#{@images[ic].media.name}_#{@images[ic].publication_date.day}_#{@images[ic].publication_date.month}" %>" />
                    <% else %>
                        <img src="<%= @images[ic].local_path %>" alt="" id="<%= "image#{ic+1}" %>" style="width: 670px;" image_size="<%= @images[ic].size %>" media="<%= @images[ic].media.display_name%>" pub_date="<%= @images[ic].publication_date %>" name="<%= @images[ic].image_name %>" />
                        <!-- "#{@images[ic].media.name}_#{@images[ic].publication_date.day}_#{@images[ic].publication_date.month}"  -->
                    <% end %>
                    <!-- end -->

                </div>
            <%end%>
          </div>
          <!-- Carousel nav -->
        <a class="carousel-control left"  style="z-index: 200;" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" style="z-index: 200;" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>


        <div id="high_area2" style="opacity: 0.5;position: absolute; overflow: hidden; z-index: 0; left: 0px; top: 0px; width: 0px; height: 0px; display: block; " class="high_area imgareaselect-outer"></div>

        <div id="high_area1" style="opacity: 0.5;position: absolute; overflow: hidden; z-index: 0; left: 0px; top: 0px; width: 0px; height: 0px; display: block; " class="high_area imgareaselect-outer"></div>

        

        <div class="modal hide" id="coding_topics">
          <div class="modal-header">
            <!-- <button type="button" class="close" data-dismiss="modal">×</button> -->
            <h3>Coding Topics</h3>
          </div>
          <div class="modal-body">
            <p>Please select a topic:</p>
            <% @thread.codes.each do |code| %>
                <%= radio_button_tag "codes", code.code_text, false, color: code.color, code_id: code.id %> <%= code.code_text %><br>
            <% end %>
            <input  id="current_high_area" type="hidden" value="1"/>
          </div>
          <div class="modal-footer">
            
            <a href="#" data-dismiss="modal" class="btn btn-primary">Okay</a>
          </div>
        </div>

        <%= form_tag "/users/#{current_user.username}/threads/#{@thread.thread_name}/process_highlighted_areas" do %> 
            <div id="high_images">
                <% un_high_ares_counter = []  %>
                <% 1.upto(@image_counter) {|ic| un_high_ares_counter << "image#{ic}_ha#{1}"; un_high_ares_counter << "image#{ic}_ha#{2}";  } %>

                <% if @highlighted_areas != [] %>
                    <% @highlighted_areas.each do |ha| %>
                        <% image_number = ha.name.split('_')[0].slice(5,ha.name.split('_')[0].length) %>
                        <% ha_number = ha.name.split('_')[1].slice(2,ha.name.split('_')[1].length) %>
                        <% un_high_ares_counter.delete("image#{image_number}_ha#{ha_number}") %>
                        <div id="image<%= image_number %>">
                            <%= hidden_field_tag ha.name,"1" %>
                            <% if ha.code != nil %>
                                <%= hidden_field_tag "#{ha.name}_code_id", "#{ha.code.id}" %>
                            <% else %>
                                <%= hidden_field_tag "#{ha.name}_code_id", "#{ha.code_id}" %>
                            <% end %>
                            <%= hidden_field_tag "#{ha.name}_x1", ha.areas[0].x1 %>
                            <%= hidden_field_tag "#{ha.name}_y1",ha.areas[0].y1 %>
                            <%= hidden_field_tag "#{ha.name}_x2",ha.areas[0].x2 %>
                            <%= hidden_field_tag "#{ha.name}_y2",ha.areas[0].y2 %>
                            <%= hidden_field_tag "#{ha.name}_width", ha.areas[0].width%>
                            <%= hidden_field_tag "#{ha.name}_height", ha.areas[0].height%>
                        </div>
                    <% end %>
                <% end %>
                <% un_high_ares_counter.each do |ha| %>
                    <div id="<%= ha.split("_")[0] %>">
                        <%= hidden_field_tag "#{ha}","0" %>
                        <%= hidden_field_tag "#{ha}_code_id", "0" %>
                        <%= hidden_field_tag "#{ha}_x1" %>
                        <%= hidden_field_tag "#{ha}_y1" %>
                        <%= hidden_field_tag "#{ha}_x2" %>
                        <%= hidden_field_tag "#{ha}_y2" %>
                        <%= hidden_field_tag "#{ha}_width"%>
                        <%= hidden_field_tag "#{ha}_height"%>
                    </div>
                <% end %>
            </div>
        <% if @thread.owner == current_user %>
            <div class="form-actions" style="text-align:center">
                <div class="pull-left">
                    <a id="clear_highlighting" class="btn  btn-danger">Clear Highlighted Areas</a>
                    <a id="skip_coding" class="btn btn-inverse">Nothing to Code</a>
                </div>

                <div class="pull-right">
                    <%= submit_tag "Save",  class: "btn btn-primary "%>
                    <a href="/" class="btn ">Cancel</a>
                </div>
            </div>
        <% else %>
            <div class="form-actions" style="text-align:center">
                <a href="<%= "/users/#{@thread.owner.username}/threads/#{@thread.thread_name}/" %>" class="btn btn-inverse">Go to Display</a>
                <a href="/" class="btn ">Cancel</a>
            </div>
        <% end %>
        <br>
        <% end %>
        
    </div>
    
    <div class="alert alert-info span2" style="margin-left: 78px;">
      <a id="close_help" type="button" class="close" data-dismiss="alert">×</a>
      <h3>How coding works</h3>
      <br>    
      <h4>Steps</h4>
      <ol>
          <li>Drag the mouse over the related news box</li>
          <li>Release the mouse when you have covered the box</li>
          <li>If there is nothing to code, you can press the button at the bottom "Nothing to Code"</li>
      </ol>
      <h4>Notes</h4>
      <ul>
        <li>The progress bar at the top page shows how many images have been coded, and how many is not yet coded</li>
        <li>You have two highlighted areas to use</li>
        <li>If you cannot highlight a long news box, you can zoom out and highlight and then zoom in, or you can start with small highlighted area and then resize it</li>
      </ul>
    </div>
    
</div>

<% if params[:i] != nil %>
    <%= hidden_field_tag "target_image", params[:i]  %>
<% end %>
<%= hidden_field_tag "help_closed" %>

<script type="text/javascript">
$(function (argument) {
    $(".breadcrumb li").filter("li.active").attr("class"," ");
    // $("#code").attr("class", "active");
    $("#coding").css("font-weight","bold")
    $("#coding").css("color","#fff")
    $("#coding").attr("class", "btn btn-info");

    if ($("#target_image").attr("value") != null) {
    t_image = $("#target_image").attr("value")
    $("#images_section div.active img").parent().attr("class", "item")
    $("#images_section div img[name='"+t_image+"']").parent().attr("class", "active item")

    };



})
window.onbeforeunload = function() {
  return "If you leave this page without saving you will lose your work";
}
</script>

<% if @thread.owner == current_user %>
    <%= hidden_field_tag :allow_coding, "true" %>
<% end %>

<%= javascript_include_tag "jquery.imgareaselect", "coding" %>