<%= form_for @thread, :url=> "/threads/#{@thread.thread_name}", method: "PUT" do |f| %>
  <%= f.label :thread_display_name, "Thread Name" %>
  <%= f.text_field :thread_display_name %><br />

  <%= f.label :start_date %>
	<%= f.text_field :start_date, disabled: "disabled"%>

	<%= f.label :end_date %>
	<%= f.text_field :end_date, disabled: "disabled" %>

  <%= f.label :status %>
  <%= f.text_field :status %><br>

  <%= f.label :category %>
  <%= f.text_field :category %><br>

  <%= f.label :description %>
	<%= f.text_area :description, :rows => "10"%><br>

  
  <%= f.submit "Update Thread", :class => "btn" %>
  <a class="btn btn-primary" href='<%="/users/#{current_user.username}/threads/#{@thread.thread_name}"%>' >Cancel</a>
<% end %>

<script type="text/javascript">
$(function () {
  $(".breadcrumb li").filter("li.active").attr("class"," ");
  $("#initiate").attr("class", "active");
  $("#initiate").css("font-weight","bold")
  $("#initiate a").css("color","#fff")
  $("#initiate a").attr("class", "btn btn-info");
    
})
</script>