<!-- displaying the error message if the user was not permitted for editing a thread -->
<% if flash[:thread_name_error] %>
	<div class="alert alert-error">
		<a type="button" class="close" data-dismiss="alert">×</a>
		<h3 style="text-align:center"><%= flash[:thread_name_error] %></h3>
	</div>
<% end %>

<!-- this condition is used to distinguish listing all threads from listing the owned threads -->
<% if params[:a] == "t" %>
	<% @threads = Threadx.all %>
<% else %>
	<% @threads = current_user.owned_threads %>
<% end %>

<div class="row">
<% if @threads != [] %>
	<% @threads.each do |thread| %>
		<div class="thumbnail">
		<!--  <img src="<%= "/assets#{thread.images[0].local_path}"%>" style="height: 130px;" alt=""> -->
		
		<!-- for heroku -->
		<img src="<%= "#{thread.images[0].local_path}"%>" style="height: 130px;" alt="">
		<!-- end -->

		  <div class="caption">
		    <h5 style="text-align:center"><%= thread.thread_display_name.capitalize %></h5>
		    <hr>
		    <p><%= thread.description %></p>
		    <div class="row">
		    	<div class="span2">
		    		<h5>Start Date</h5>
		    		<p><%= thread.start_date %></p>
		    	</div>
		    	<div class="span2">
		    		<h5>End Date</h5>
		    		<p><%= thread.end_date %></p>
		    	</div>
		    	<div class="span2">
		    		<h5>Category</h5>
		    		<p><%= thread.category %></p>
		    	</div>
		    	<div class="span2">
		    		<h5>Status</h5>
		    		<p><%= thread.status %></p>
		    	</div>
		    </div>

		    <p><a href="<%= "/users/#{thread.owner.username.split(' ').join('_')}/threads/#{thread.thread_name}/" %>" class="btn btn-primary">Show</a> 
		    <% if thread.owner == current_user %>
			    <%= link_to "Delete", "/threads/#{thread.thread_name}" ,:method=>"delete" , :class => "btn btn-danger delete" %>
			    <a href="<%= "/threads/#{thread.thread_name}/edit/" %>" class="btn">Edit</a>
		  	<% end %>

		  </div>
		</div>
		<br>
	<% end %>
<% else %>
<h2>There is no threads</h2>
<% end %>
</div>

<script type="text/javascript">
$(function () {
	// if the user tried to delete a thread, there will be a prompt box to confirm first
	$(".delete").click(function (event) {
		event.preventDefault()
		if (confirm("Are you sure?")) {
			event.click()
		};
		return false
	})
})
</script>
