<!-- displaying the error message if the user was not permitted for editing a thread -->
<% @title = @subtitle+" - PageOneX" %>
<% if flash[:thread_name_error] %>
	<div class="alert alert-error">
		<a type="button" class="close" data-dismiss="alert">×</a>
		<h3 style="text-align:center"><%= flash[:thread_name_error] %></h3>
	</div>
<% end %>
<div class="row-fluid">
	<h2><%=@subtitle%></h2>

	<% if @threads.length > 0%>
	  <div class="row-fluid">
	  <% @threads.each_with_index do |thread,i| %>

	    <div class="span3">
        <div class="row-fluid">
          <a href="<%= thread_url thread %>" title="<%= '#{thread.thread_display_name}' %>" class="thumbnail" >
          <!-- shows first available front page from the thread> first day first newspaper-->
          <% if use_local_images %>
          	<% thread.non_missing_images(1).each do |image| %>
          		<%= image_tag((image.thumbnail_local_path 60), class: "pull-left") %>
          	<% end %>
          <% else %>
          	<% thread.non_missing_images(1).each do |image| %>
          		<%= image_tag "#{image.source_url}", :size => "80x80", :alt => image.image_name %>
          	<% end %>
          <% end %>
          <!-- shows composite images-->
          	<ul class="thread-composite-images" style="margin-left:65px;height:120px;background-color:#f3f3f3;overflow:hidden;">
          	<% thread.codes.each do |code| %>
          		<li class="highlighted-area-composite  pull-right" id="composite_image_code_<%= code.id %>">
          			<%= image_tag((thread.path_to_composite_highlighed_area_image code.id), class: code.id, :size => "185x185") %>
          		</li>
          	<% end %>
          	</ul>
          </a>
        </div>
				<div class="caption">
					<h4><%= link_to thread.thread_display_name, thread_url(thread) %> </h4>
					<p><small style="color:#888;">by <%=threads_by_user_link thread.owner %> | From <%= thread.start_date %> to <%= thread.end_date %></small></p>
					<p><%= strip_tags(sanitize(thread.description.truncate(150))) %></p>
					<!--<p>Status <%= thread.status %></p>-->
					<% if current_user.nil? %>
						<!--do nothing-->
					<% elsif thread.owner == current_user or current_user.admin  %>
						<div class="btn-group row-fluid"style="margin:0px 0px 10px 0px;">
									<%= link_to "View", thread_url(thread), :class => "btn btn-small"  %>
									  <%= link_to "Edit", "/threads/#{thread.thread_name}/edit/", :class => "btn btn-small" %>
									  <%= link_to "Code", "/threads/#{thread.thread_name}/coding/", :class => "btn btn-small" %>
									<%= link_to "Delete", "/threads/#{thread.thread_name}" ,:method=>"delete" , :class => "btn btn-small btn-danger delete" %>
						</div>
					<% end %>
					<div class="row-fluid">
						<span class="categories">
							<% thread.category_list.each do |c| %>
							  <%=link_to c,"/threads/search_by_category?q=#{c.strip}", :class => "label"%>
							<% end %>
						</span>
					</div>
	      </div>														
	    </div><!-- end thread box-->
	   
	    <% if ((i+1)/4.0).to_i == ((i+1)/4.0) %>
	      </div> <!-- end class="row-fluid"-->
	      <div class="row-fluid">
	    <% end %>

	  <% end %>
	  </div> <!-- end class="row"-->

	  <% unless !@use_paging.nil? and @use_paging==false %>
	    <div class="row">
	      <div class="span12">
		<%= will_paginate @threads %>
	      </div>
	    </div>
	  <% end %>

	<% else %>

	  <h2>There are no threads.</h2>

	<% end %>

	
</div>

<script type="text/javascript">
$(function () {
	// if the user tried to delete a thread, there will be a prompt box to confirm first
	$(".delete").click(function (event) {
		event.preventDefault()
		if (confirm("Are you sure you want to delete this thread?")) {
			event.click()
		};
		return false
	})
})
</script>
