<!-- displaying the error message if the user was not permitted for editing a thread -->
<% @title = "Threads - PageOneX" %>
<% if flash[:thread_name_error] %>
	<div class="alert alert-error">
		<a type="button" class="close" data-dismiss="alert">×</a>
		<h3 style="text-align:center"><%= flash[:thread_name_error] %></h3>
	</div>
<% end %>

<!-- this condition is used to distinguish listing all threads from listing the owned threads -->
<!-- "all" for all threads -->
<% if params[:a] == "all" %>
	<% @threads = Threadx.all %>
<% else %>
	<% @threads = current_user.owned_threads %>
<% end %>

<ul class="thumbnails">

<% if @threads != [] %>
  <div class="row">

  <% @threads.sort{|a,b| b.created_at <=> a.created_at }.each_with_index do |thread,i| %>

    <li class="span3">
      <div class="thumbnail">
	<div class="row-fluid">
          <a href="<%= "/#{thread.owner.username.split(' ').join('_')}/#{thread.thread_name}/" %>" title="<%= "#{thread.thread_display_name}" %>">
          <% if use_local_images %>
            <% thread.images[0,3].each do |image| %>
	      <%= image_tag "/assets#{image.local_path}", :size => "80x80", :class => "pull-left", :alt => "thread.thread_display_name" %>
            <% end %>
          <% else %>
            <!-- for heroku -->
            <% thread.images[0,3].each do |image| %>
	      <%= image_tag "#{image.source_url}", :size => "80x80", :class => "pull-left" %>
            <% end %>
            <!-- end heroku-->
          <% end %>
          </a>
 	</div>
        <div class="caption">
          <h4><%= link_to thread.thread_display_name, "/#{thread.owner.username.split(' ').join('_')}/#{thread.thread_name}/" %></h4>
          <p><%= thread.description.truncate(100) %></p>
          <p>From <%= thread.start_date %> to <%= thread.end_date %></p>
          <!--<p>Status <%= thread.status %></p>-->
          <% if thread.owner == current_user %>
  		      <%= link_to "Delete", "/threads/#{thread.thread_name}" ,:method=>"delete" , :class => "btn btn-small btn-danger delete" %>
  		      <%= link_to "Edit", "/threads/#{thread.thread_name}/edit/", :class => "btn btn-small" %>
  	      <% end %>
          <div class="row-fluid">
            <%= thread.owner.username %>  <span class="pull-right label"><%= thread.category %></span>
          </div>
        </div>

      </div>														
    </li>
   
    <% if ((i+1)/4.0).to_i == ((i+1)/4.0) %>
      </div> <!-- end class="row"-->
      <hr />
      <div class="row">
    <% end %>

  <% end %>
  </div> <!-- end class="row"-->

<% else %>
  <h2>There are no threads.</h2>
<% end %>

</ul>

<script type="text/javascript">
$(function () {
	// if the user tried to delete a thread, there will be a prompt box to confirm first
	$(".delete").click(function (event) {
		event.preventDefault()
		if (confirm("Are you sure you want to delete this thread?")) {
			event.click()
		};
		return false
	})
})
</script>
