<h1>New Thread</h1>
<hr>
<%= form_for @thread, :url => { :controller => :threads, :action => :create}, :class => "form-horizontal" do |f| %>

	<h2>Basic info</h2><br>
	<%= f.label :thread_name %>
	<%= f.text_field :thread_name, placeholder: "For example Occupy,Arab Spring" %>

	<%= f.label :start_date %>
	<%= f.text_field :start_date, placeholder: "DD/MM/YYYY" %>

	<%= f.label :end_date %>
	<%= f.text_field :end_date, placeholder: "DD/MM/YYYY" %>

	<%= f.label :description %>
	<%= f.text_area :description, :rows => "10", placeholder: "Few words to describe what going on this thread"%>

	<hr>
	<h2>Newspapers info</h2><br>
	
	<%= label_tag :media1, nil, :id => "media_label1" %>
	<%= select_tag :media1, options_from_collection_for_select(@media, "id", "name")%>
	<br>
	<a id="add_media" class="btn">Add Another Newspaper</a>
	<%= hidden_field_tag :media_count, 1 %>

	<hr>
	<h2>Coding info</h2><br>

  <div class="well">
    <div id="topic_1" class="well">
      <%= label_tag "topic_name_1", nil, :id => "topic_label_1" %>
      <%= text_field_tag "topic_name_1",nil,placeholder: "Code/Topic name" %> 

      <%= label_tag "topic_color_1", nil, :id => "topic_color_label_1" %>
      <%= text_field_tag "topic_color_1",nil,placeholder: "#FFFFFF" %> 

      <%= label_tag "topic_description_1", nil, :id => "topic_description_label_1" %>
      <%= text_area_tag "topic_description_1",nil,:rows => "5",placeholder: "Some Info about that topic" %> 
    </div>
    
    
    <br>
    <a id="add_topic" class="btn">Add Another Code/Topic</a>
    <%= hidden_field_tag :topic_count, 1 %>
  </div>


	
	<div class="form-actions">
		<%= f.submit "Start Coding »", :class => "btn btn-primary" %>
		<a class="btn" href="/">Cancel</a>
	</div>
<% end %>

<div id="topic" class="well"  style="display:none">
      <%= label_tag "topic_name", nil, :id => "topic_name_label" %>
      <%= text_field_tag "topic_name",nil,placeholder: "Code/Topic name" %> 

      <%= label_tag "topic_color", nil, :id => "topic_color_label" %>
      <%= text_field_tag "topic_color",nil,placeholder: "#FFFFFF" %> 

      <%= label_tag "topic_description", nil, :id => "topic_description_label" %>
      <%= text_area_tag "topic_description",nil,:rows => "5",placeholder: "Some Info about that topic" %> 
</div>

<script type="text/javascript">
  $(function () {
    media_count=1
    media_element = $("#media1");
    media_label_element = $("#media_label1");
    $("#add_media").on("click",function () {
      cloned_m_e = media_element.clone();
      cloned_m_l_e = media_label_element.clone();

      cloned_m_l_e.attr("id", "media_label" + ++media_count);
      cloned_m_l_e.attr("for", "media" + media_count);
      cloned_m_l_e.text("Media"+media_count);

      cloned_m_e.attr("id", "media" + media_count);
      cloned_m_e.attr("name", "media" + media_count);

      $(cloned_m_l_e).insertBefore('#add_media');
      $(cloned_m_e).insertBefore('#add_media');
      $("<br/>").insertBefore('#add_media');
      $("#media_count").attr("value", media_count);
    });

    topic_count=1
    $("#add_topic").on("click",function () {
      
      topic_element = $("#topic").clone();
      topic_name_element = topic_element.find("#topic_name");
      topic_name_label_element = topic_element.find("#topic_name_label");

      topic_color_element = topic_element.find("#topic_color");
      topic_color_label_element = topic_element.find("#topic_color_label");

      topic_description_element = topic_element.find("#topic_description");
      topic_description_label_element = topic_element.find("#topic_description_label");

      topic_element.attr("style","display:block");
      topic_element.attr("id","topic"+ ++topic_count);

      topic_name_element.attr("id","topic_name_"+topic_count);
      topic_name_element.attr("name","topic_name_"+topic_count);
      topic_name_label_element.attr("id","topic_name_label_"+topic_count)
      topic_name_label_element.attr("for","topic_name_"+topic_count)
      topic_name_label_element.text("topic_name_"+topic_count)

      topic_color_element.attr("id","topic_color_"+topic_count)
      topic_color_element.attr("name","topic_color_"+topic_count)
      topic_color_label_element.attr("id","topic_color_label_"+topic_count)
      topic_color_label_element.attr("for","topic_color_"+topic_count)
      topic_color_label_element.text("topic_color_"+topic_count)

      topic_description_element.attr("id","topic_description_"+topic_count)
      topic_description_element.attr("name","topic_description_"+topic_count)
      topic_description_label_element.attr("id","topic_description_label_"+topic_count)
      topic_description_label_element.attr("for","topic_description_"+topic_count)
      topic_description_label_element.text("topic_description_"+topic_count)

      $(topic_element).insertBefore("#add_topic");
      $("<br/>").insertBefore('#add_topic');
      $("#topic_count").attr("value", topic_count);
    });



    
  });
</script>
<script type="text/javascript">
$(function (argument) {
	$(".breadcrumb li").filter("li.active").attr("class"," ");
	$("#initiate").attr("class", "active");

})
</script>
