<%= form_for @thread, :url => { :controller => :threads, :action => :create}, :class => "form-horizontal" do |f| %>

	<h2>Basic info</h2><br>
	<%= f.label :thread_name %>
	<%= f.text_field :thread_name %>

	<%= f.label :start_date %>
	<%= f.text_field :start_date %>

	<%= f.label :end_date %>
	<%= f.text_field :end_date %>

	<%= f.label :description %>
	<%= f.text_area :description, :rows => "10"%>

	<hr>
	<h2>Newspapers info</h2><br>
	
	<%= label_tag :media1, nil, :id => "media_label1" %>
	<%= select_tag :media1, options_from_collection_for_select(@media, "id", "name")%>
	<br>
	<a id="add_media" class="btn">Add Another Newspaper</a>
	<%= hidden_field_tag :media_count, 1 %>

	<hr>
	<h2>Coding info</h2><br>

	<%= label_tag "topic1", nil, :id => "topic_label1" %>
	<%= text_field_tag "topic1" %>	
	<br>
	<a id="add_topic" class="btn">Add Another Topic</a>
	<%= hidden_field_tag :topic_count, 1 %>
	
	<div class="form-actions">
		<%= f.submit "Start Coding »", :class => "btn btn-primary" %>
		<a class="btn" href="/">Cancel</a>
	</div>
<% end %>

