<h1>New Thread</h1>
<hr>
<%= form_for @thread, :url => { :controller => :threads, :action => :create}, :class => "form-horizontal" do |f| %>

	<h2>Basic info</h2><br>
	<%= f.label :thread_name %>
	<%= f.text_field :thread_name, placeholder: "For example Occupy,Arab Spring" %>

	<%= f.label :start_date %>
	<%= f.text_field :start_date, placeholder: "DD/MM/YYYY" %>

	<%= f.label :end_date %>
	<%= f.text_field :end_date, placeholder: "DD/MM/YYYY" %>

	<%= f.label :description %>
	<%= f.text_area :description, :rows => "10", placeholder: "Few words to describe what going on this thread"%>

	<hr>
	<h2>Newspapers info</h2><br>
	
	<%= label_tag :media1, nil, :id => "media_label1" %>
	<%= select_tag :media1, options_from_collection_for_select(@media, "id", "name")%>
	<br>
	<a id="add_media" class="btn">Add Another Newspaper</a>
	<%= hidden_field_tag :media_count, 1 %>

	<hr>
	<h2>Coding info</h2><br>

	<%= label_tag "topic1", nil, :id => "topic_label1" %>
	<%= text_field_tag "topic1",nil,placeholder: "Topic name" %>	

	<%= label_tag "topic", nil, :id => "topic_label", style: "display:none" %>
	<%= text_field_tag "topic",nil,placeholder: "Topic name", style: "display:none"%>

	<br>
	<a id="add_topic" class="btn">Add Another Topic</a>
	<%= hidden_field_tag :topic_count, 1 %>
	
	<div class="form-actions">
		<%= f.submit "Start Coding »", :class => "btn btn-primary" %>
		<a class="btn" href="/">Cancel</a>
	</div>
<% end %>


<script type="text/javascript">
  $(function () {
    media_count=1
    media_element = $("#media1");
    media_label_element = $("#media_label1");
    $("#add_media").on("click",function () {
      cloned_m_e = media_element.clone();
      cloned_m_l_e = media_label_element.clone();

      cloned_m_l_e.attr("id", "media_label" + ++media_count);
      cloned_m_l_e.attr("for", "media" + media_count);
      cloned_m_l_e.text("Media"+media_count);

      cloned_m_e.attr("id", "media" + media_count);
      cloned_m_e.attr("name", "media" + media_count);

      $(cloned_m_l_e).insertBefore('#add_media');
      $(cloned_m_e).insertBefore('#add_media');
      $("<br/>").insertBefore('#add_media');
      $("#media_count").attr("value", media_count);
    });

    topic_count=1
    topic_element = $("#topic");
    topic_label_element = $("#topic_label");
    $("#add_topic").on("click",function () {
      cloned_t_e = topic_element.clone();
      cloned_t_l_e = topic_label_element.clone();

      cloned_t_e.attr("text","");
      cloned_t_l_e.attr("id", "topic_label" + ++topic_count);
      cloned_t_l_e.attr("for", "topic" + topic_count);
      cloned_t_l_e.attr("style","display:block");
      cloned_t_l_e.text("Topic"+topic_count);

      cloned_t_e.attr("id", "topic" + topic_count);
      cloned_t_e.attr("name", "topic" + topic_count);
      cloned_t_e.attr("style","display:inline-block");

      $(cloned_t_l_e).insertBefore('#add_topic');
      $(cloned_t_e).insertBefore('#add_topic');
      $("<br/>").insertBefore('#add_topic');
      $("#topic_count").attr("value", topic_count);
    });
    
  });
</script>
<script type="text/javascript">
$(function (argument) {
	$(".breadcrumb li").filter("li.active").attr("class"," ");
	$("#initiate").attr("class", "active");

})
</script>
