<%= javascript_include_tag "jquery.miniColors.js" %>
<%= stylesheet_link_tag "jquery.miniColors.css" %>

<% thread = current_user.owned_threads.find_by_thread_display_name params[:threadx]["thread_display_name"] if params[:threadx] != nil  %>

<div class="alert">
  <button class="close" data-dismiss="alert">×</button>
  <strong>Warning!</strong> The resources available by Heroku is limited, so try to create medium or small threads.
</div>

<h1>New Thread</h1>

<hr>
<%= form_for @thread, :url => { :controller => :threads, :action => :create}, :class => "form-horizontal" do |f| %>
  <div id="errors">
    <% if @thread.errors.any? %>
      <div class="alert alert-error">
        <% @thread.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
            <li id="date_message" style="display:none">End date must be greater than start date</li>
            <li id="media_message" style="display:none">You must at least select one newspaper</li>
            <li id="topic_name_message" style="display:none">Topic name cannot be empty</li>
            <li id="topic_color_message" style="display:none">Topic color cannot be empty</li>
      </div>
    <% end %>
  </div>
  
	<h2>Basic info</h2><br>
  <div>
  	<%= f.label :thread_display_name, "Thread Name" %>
  	<%= f.text_field :thread_display_name, placeholder: "For example Occupy, Arab Spring", :class => "server_validation" %>
  </div>
  <br>
  <%= f.label :status %>
  <div class="btn-group" data-toggle="buttons-radio">
    <a disabled="disabled" id="open_thread" class="btn btn-primary status" rel="popover"  data-content="In case of selecting this option, this means each day PageOneX, will scrape the latest newspapers front pages related to the thread automatically" data-original-title="Opened Thread" >Opened</a>
    <a id="close_thread" class="btn btn-inverse active status" rel="popover"  data-content="In case of selecting this option, this means the created thread will not be updated and PageOneX will not scrape any newspapers front pages automatically" data-original-title="Closed Thread" >Closed</a>
  </div>
  <%= hidden_field_tag :status,"closed" %>
  <br>
  <div class="date_errors">
  <%= f.label :start_date %>
  <%= f.text_field :start_date, placeholder: "DD/MM/YYYY", :class => "dates js_validate datepicker","rel" => "popover", "data-content"  => "Scraping is done from Kiosko.net, so there is some dates limitations which: available years is [2008, 2009, 2010, 2011, 2012], and most of newspaper issues exist starting from 2010", "data-original-title" => "Limitations of Sources" %>
  </div>


  <div class="date_errors">
  <%= f.label :end_date %>
  <%= f.text_field :end_date, placeholder: "DD/MM/YYYY", :class => "dates js_validate datepicker","rel" => "popover", "data-content"  => "There is limit on the end data in this beta version, which is: the year and the month of end date must be the same as in starting date", "data-original-title" => "End date limitation" %>
  </div>
  

  <div>
    <%= f.label :category %>
    <%= f.text_field :category, placeholder: "International, national, Occupy", :class => "server_validation" %>
  </div>
  
  <div>
    <%= f.label :description %>
    <%= f.text_area :description, :rows => "10", placeholder: "Few words to descripe what going on this thread", :class => "server_validation"%>
  </div>

	<hr>
	<h2>Newspapers info</h2><br>
	<div id="media_box">
  	<%= label_tag :media, nil, :id => "media_label1" %>
  	<%= select_tag :media, options_from_collection_for_select(@media, "id", "name"),  :multiple => true ,"rel" => "popover", "data-content"  => "To select multiple newspapers: Hold Ctrl + select the newspaper, release the Ctrl with scrolling and hold it again before any other selection", "data-original-title" => "Select Multiple Newspapers" , style: "height: 300px;width: 300px;", :class=>"js_validate" %>
  	<br>

    <%= hidden_field_tag :selected_newspapers, params["media"] %>
  </div>
  <a id="clear_media" class="btn">Clear all choices</a>
  <% #label_tag :media1, nil, :id => "media_label1" %>
  <% #select_tag :media1, options_from_collection_for_select(@media, "id", "name"),  :multiple => true%>

	<!-- <a id="add_media" class="btn">Add Another Newspaper</a> -->
	<% #hidden_field_tag :media_count, 1 %>

	<hr>
	<h2>Coding info</h2><br>

  <div class="well">
    <div id="topic_1" class="well">
      <div id="topic_name_box">
        <%= label_tag "topic_name_1", nil, :id => "topic_label_1" %>

        <% if params["topic_name_1"] == "" %>
          <%= text_field_tag "topic_name_1",nil,placeholder: "Code/Topic name", :class=>"topic_name js_validate" %> 
        <% else %>
          <%= text_field_tag "topic_name_1",params["topic_name_1"],placeholder: "Code/Topic name", :class=>"topic_name js_validate" %> 
        <% end %>
      </div>

      <div class="topic_color_box ">
        <%= label_tag "topic_color_1", nil, :id => "topic_color_label_1" %>

        <% if params["topic_color_1"] == "" %>
          <%= text_field_tag "topic_color_1",nil,placeholder: "#FF0000", :class=>"topic_color js_validate" %> 
        <% else %>
          <%= text_field_tag "topic_color_1",params["topic_color_1"],placeholder: "#FF0000",:class=>"topic_color js_validate" %> 
        <% end %>
      </div>

      <%= label_tag "topic_description_1", nil, :id => "topic_description_label_1" %>

      <% if params["topic_description_1"] == "" %>
        <%= text_area_tag "topic_description_1",nil,:rows => "5",placeholder: "Some Info about that topic" %> 
      <% else %>
        <%= text_area_tag "topic_description_1",params["topic_description_1"],:rows => "5",placeholder: "Some Info about that topic" %> 
      <% end %>
    </div>
    
    
    <br>

    <a style="display:none" id="add_topic" class="btn">Add Another Code/Topic</a>
    <%= hidden_field_tag :topic_count, 1 %>
  </div> 
	
	<div class="form-actions">
		<%= f.submit "Start Coding »", :class => "btn btn-primary", id: "strat_coding" %>
		<a class="btn" href="/">Cancel</a>
	</div>
<% end %>

<%= hidden_field_tag :validation_error, "false"  %>
<%= hidden_field_tag :empty_topic, params[:empty_topic] %>
<%= hidden_field_tag :empty_media, params[:empty_media] %>

<div id="topic" class="well date_errors"  style="display:none">
      <%= label_tag "topic_name", nil, :id => "topic_name_label" %>
      <%= text_field_tag "topic_name",nil,placeholder: "Code/Topic name" %> 

      <%= label_tag "topic_color", nil, :id => "topic_color_label" %>
      <%= text_field_tag "topic_color",nil,placeholder: "#FF0000" %> 

      <%= label_tag "topic_description", nil, :id => "topic_description_label" %>
      <%= text_area_tag "topic_description",nil,:rows => "5",placeholder: "Some Info about that topic" %> 
</div>

<div class="modal hide" id="scraping">
  <div class="modal-header">
    <h3>Scraping</h3>
  </div>
  <h2 style="text-align: center">Please wait it will take time</h2>
  <div class="modal-body" style="padding: 54px 0 56px 279px;">
  
  </div>
  <div class="modal-footer">

  </div>
</div>

<%= javascript_include_tag "new_thread_validation" %>
<script type="text/javascript">

</script>

