<% @title = "Show Media - PageOneX" %>
<p id="notice"><%= notice %></p>

<h1><%=@media.display_name%></h1>

<p>
See <a href="/images/for_media/<%=@media.id%>">all the images for this media source</a>
</p>

<p>
  <b>Name:</b>
  <%= @media.name %>
</p>

<p>
  <b>Country:</b>
  <%= @media.country %>
</p>

<p>
  <b>Country code:</b>
  <%= @media.country_code %>
</p>

<p>
  <b>Url:</b>
  <%= @media.url %>
</p>

<p>
  <b>Display name:</b>
  <%= @media.display_name %>
</p>

<p>
  <b>Working:</b>
  <%= @media.working %>
</p>


<%= link_to 'Edit', edit_medium_path(@media) %> |
<%= link_to 'Back', medium_path %>
