<%- model_class = Image -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:publication_date) %>:</strong></dt>
  <dd><%= @image.publication_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:size) %>:</strong></dt>
  <dd><%= @image.size %></dd>
  <dt><strong><%= model_class.human_attribute_name(:media_id) %>:</strong></dt>
  <dd><%= @image.media_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:image_name) %>:</strong></dt>
  <dd><%= @image.image_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:source_url) %>:</strong></dt>
  <dd><%= @image.source_url %></dd>
  <dt><strong><%= model_class.human_attribute_name(:missing) %>:</strong></dt>
  <dd><%= @image.missing %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              images_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_image_path(@image), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              image_path(@image),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
