<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= @title %></title>
    <% @title = "PageOneX" %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "application" %>
    
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <!-- Le styles -->
    <%= stylesheet_link_tag "application", :media => "all" %>
    <style type="text/css">
      body, p{
        font-family: 'Signika Negative', sans-serif;
      }
    </style>

    <!-- Le fav and touch icons 
    <link href="images/favicon.ico" rel="shortcut icon">
    <link href="images/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
    -->
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
          <div class="container">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/" title="home PageOneX">PageOneX <em>alpha</em></a>
          <div class="container nav-collapse">
          <ul class="nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Threads<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <% if user_signed_in? %>
                  <li><a href="/threads/" title="">Your Threads</a></li>
                <% end %>
                <li><a href="/threads/?a=t" title="">All Threads</a></li>
              </ul>
            </li>
		<li><%= link_to "Blog", "http://montera34.org/pageonex/"  %></li>
		<li><%= link_to "Help", "/home/help"  %></li>
		<li><%= link_to "About", "/home/about"  %></li>
		<li><a href="/home/credits" title="">Credits</a></li>	
		<li><%= link_to "Report Bugs", "http://bit.ly/pageonextest"  %></li>      
          </ul>
          

          
          <form class="navbar-search pull-right">
            <input type="text" class="search-query" placeholder="Search">
          </form>
          <% if user_signed_in? %>
            <div class="pull-right" style="border-radius: 4px;padding: 0px 5px 0px 5px;box-shadow: 0px 0px 1px 2px #424242; margin-top: 5px;margin-right: 8px;">
              <h5 style="margin-bottom: -6px;"><%= current_user.username.capitalize %></h5>
              <%= link_to "Sign out", destroy_user_session_path, :method => :delete  %>
            </div>
          <% end %>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container" style="min-width: 1170px;">
      <div class="content">
        <div class="row">
           <div class="span12">

            <% if notice %>
              <div class="alert">
                <a class="close" data-dismiss="alert" href="#">×</a>
                <p><%= notice %></p>
              </div>
            <% elsif alert %>
              <div class="alert alert-error">
                <a class="close" data-dismiss="alert" href="#">×</a>
                <p><%= alert %></p>
              </div>
            <% end %>
            <% if (params[:controller] == "threads" || params[:controller] == "coding")&&(params[:action] != "index"  && params[:action] != "new" && params[:action] != "create")%>
              <div style="text-align:center; font-size:20px ;list-style: none;" class="">
                 
                  <a href="<%= "/#{@thread.owner.username.split(' ').join('_')}/#{@thread.thread_name}/coding"%>" class="btn " id="coding" rel="popover"  data-content="Coding images, by highlighting the related news" data-original-title="Code" style="border-radius: 0px 0px 0px 0px;">Code</a> 

                  <span style="margin: 0 100px 0 100px" class="divider"> - </span>

                  <a href="<%= "/#{@thread.owner.username.split(' ').join('_')}/#{@thread.thread_name}"%>" class="btn " id="disp" rel="popover"  data-content="Displaying the images matrix with bar chart of the ratios" data-original-title="Display" style="border-radius: 0px 0px 0px 0px;">Display</a>
                <hr>
              </div>
            <% end %>

            <%= yield %>
            </div>
            <div class="span2" style="display:none">
              
            </div><!--/span-->
        </div><!--/row-->
      </div><!--/content-->
      <hr> 
      <footer>
        <p>More info at <a href="http://montera34.org/pageonex/" title="Go to blog">PageOneX</a> + <a href="http://numeroteca.org/cat/frontpage-newspaper/" title="Go to blog">numeroteca</a></p>
        <br>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <link href='http://fonts.googleapis.com/css?family=Cabin:400,500,600,700,400italic' rel='stylesheet' type='text/css'> -->

    <link href='http://fonts.googleapis.com/css?family=Signika+Negative:300,400,600,700' rel='stylesheet' type='text/css'>
    
    

  </body>
</html>

<script type="text/javascript">
$(function () {
  d = { show: 700, hide: 1 }
  $('#coding').popover({placement:'bottom',delay:d })
  $('#disp').popover({placement:'bottom',delay:d})
})



</script>
