<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= @title %></title>
    <% @title = "PageOneX" %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "application" %>
    
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <!-- Le styles -->
    <%= stylesheet_link_tag "application", :media => "all" %>
    <style type="text/css">
      body, p{
        font-family: 'Signika Negative', sans-serif;
      }
    </style>

    <!-- Le fav and touch icons 
    <link href="images/favicon.ico" rel="shortcut icon">
    <link href="images/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
    -->

    <%= favicon_link_tag %>
  </head>
  <body>

    <div class="navbar navbar-fixed-top" id="main-menu" style="background-color:#dedede">
      <div class="">
          <div class="container">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand pageonex-brand" href="/" title="Home PageOneX"><%= image_tag "imago-pageonex-4.png" %> PageOneX <em>beta</em></a>
          <div class="container">
          <ul id="pre-menu" class="nav nav-pills">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Threads<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <% if user_signed_in? %>
                  <li><a href="/threads/mine" title="">Your Threads</a></li>
                <% end %>
                <li><a href="/threads/" title="">All Threads</a></li>
              </ul>
            </li>
	    <li class="menu-item" ><%= link_to "About", "/about"  %></li>
	    <li><%= link_to "Documentation", "https://github.com/numeroteca/pageonex/wiki"  %></li>
	    <li><%= link_to "Blog", "http://blog.pageonex.com"  %></li>
	    <li><%= link_to "Report Bugs", "http://blog.pageonex.com/report-bugs/"  %></li>      
          </ul>
          <% if user_signed_in? %>
            <div class="pull-right" id="login-info">
              <h5><%= link_to current_user.username, edit_user_registration_path %></h5>
              <%= link_to "Sign out", destroy_user_session_path, :method => :delete  %>
            </div>
          <% else %>
            <div class="pull-right" id="login-info">
              <%= link_to 'Sign in', new_user_session_path %> 
            </div>
          <% end %>

          
          <form class="navbar-search pull-right">
            <input type="text" class="search-query" placeholder="Search">
          </form>
          
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container" style="min-width: 1170px;">
      <div class="content">

        <div class="row">
           <div class="span12">

            <% if Rails.env.development? %>
              <div class="alert alert-error">
                <h4>Development Server</h4>
                You are working on a development server!
              </div>
            <% end %>

            <% if notice %>
              <div class="alert">
                <a class="close" data-dismiss="alert" href="#">×</a>
                <p><%= notice %></p>
              </div>
            <% elsif alert %>
              <div class="alert alert-error">
                <a class="close" data-dismiss="alert" href="#">×</a>
                <p><%= alert %></p>
              </div>
            <% end %>
          </div>
        </div>

        <%= yield %>

      </div><!--/content-->
      <div class="row" id="footer">
        <div class="span12">
          <footer>
		<hr><a href="http://pageonex.com" title="PageOneX">PageOneX.com</a> | <%= link_to "Terms of Service", "/terms-of-service"  %> | Supported by <a href="http://civic.mit.edu/" title="">Center for Civic Media</a> | Project by <a href="http://numeroteca.org/cat/frontpage-newspaper/" title="Go to blog">numeroteca.org</a> 
	  </footer>
        </div>
      </div>
      
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <link href='http://fonts.googleapis.com/css?family=Cabin:400,500,600,700,400italic' rel='stylesheet' type='text/css'> -->

    <link href='http://fonts.googleapis.com/css?family=Signika+Negative:300,400,600,700' rel='stylesheet' type='text/css'>

  </body>

  <script type="text/javascript">
  $(function () {
    d = { show: 700, hide: 1 }
    $('#coding').popover({placement:'bottom',delay:d })
    $('#disp').popover({placement:'bottom',delay:d})
  })
  </script>

  <%= piwik_tracking_tag %>
  
</html>
